In [13]:
import requests
import pandas as pd
import json

url_main = "http://127.0.0.1:5000/"

def get_predictions():
    url = f"{url_main}/predictions"
    predictions = requests.get(url).json()
    return predictions

In [31]:
import requests
from pymongo import MongoClient
from dotenv import load_dotenv
import os

load_dotenv()
username = os.getenv("USER")
password = os.getenv("PASS")
url = f"mongodb+srv://{username}:{password}@datacluster.2umgq.mongodb.net/myFirstDatabase?retryWrites=true&w=majority"
client = MongoClient(url)
db = client["movies"]
ratings = db.ratings_small
ratings_new = db.ratings_new
predictions = db.predictions

In [30]:
preds_df = pd.DataFrame(list(predictions.find({'userId': 852}, {'_id': 0, 'movieId': 0, 'userId': 0})))
preds_df = preds_df[['title', 'rating_prediction']]
preds_df

                                title  rating_prediction
0            The Million Dollar Hotel           4.756388
1                Sleepless in Seattle           4.603623
2         The Man with the Golden Arm           4.572741
3             The Thomas Crown Affair           4.560235
4                         Hard Target           4.484586
5                     Broken Blossoms           4.484113
6               Don't Worry, I'm Fine           4.480687
7  Terminator 3: Rise of the Machines           4.433417
8                                Nell           4.420813
9             While You Were Sleeping           4.409443

In [24]:
pred_df = pd.DataFrame(list(predictions.find()))
pred_df

,_id,userId,movieId,rating_prediction,title
0,6195211f623b66844393ee80,852,318.0,4.756388,The Million Dollar Hotel
1,6195211f623b66844393ee81,852,858.0,4.603623,Sleepless in Seattle
2,6195211f623b66844393ee82,852,541.0,4.572741,The Man with the Golden Arm
3,6195211f623b66844393ee83,852,913.0,4.560235,The Thomas Crown Affair
4,6195211f623b66844393ee84,852,2019.0,4.484586,Hard Target
5,6195211f623b66844393ee85,852,899.0,4.484113,Broken Blossoms
6,6195211f623b66844393ee86,852,1254.0,4.480687,"Don't Worry, I'm Fine"
7,6195211f623b66844393ee87,852,296.0,4.433417,Terminator 3: Rise of the Machines
8,6195211f623b66844393ee88,852,1945.0,4.420813,Nell
9,6195211f623b66844393ee89,852,2064.0,4.409443,While You Were Sleeping
10,619529fc7cbd2f887937a643,1231,NaN,NaN,NaN

In [32]:
ratings_df = pd.DataFrame(list(ratings.find()))
ratings_df = ratings_df.drop(columns=['_id', 'timestamp'])

new_ratings_df = pd.DataFrame(list(ratings_new.find()))
new_ratings_df = new_ratings_df.drop(columns=['_id'])

df_user = ratings_df.append(new_ratings_df)
df_user = df_user.reset_index().drop(columns=['index'])

In [34]:
last_user = int(df_user.iloc[-1].userId)
last_user

756