In [105]:
import pandas as pd
import numpy as np
from ast import literal_eval
from scipy import linalg
from scipy.sparse import csr_matrix
from surprise import SVD
from surprise import Dataset, Reader
from surprise.model_selection import cross_validate, train_test_split
from collections import defaultdict

In [3]:
ratings = pd.read_csv("../data/ratings_small.csv")

In [4]:
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [5]:
movies_metadata = pd.read_csv("../data/movies_metadata.csv")

/home/marrechea/miniconda3/envs/movies/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3145: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [6]:
movies_metadata.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [7]:
movies_metadata.head(3)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0

In [8]:
literal_eval(movies_metadata['genres'].loc[0])

[{'id': 16, 'name': 'Animation'},
 {'id': 35, 'name': 'Comedy'},
 {'id': 10751, 'name': 'Family'}]

In [9]:
def extract_genres(x):
    x = literal_eval(x)
    if isinstance(x, list):
        genre_names = [i['name'] for i in x]
        if len(genre_names) > 3:
            genre_names= genre_names[:3]
        return genre_names
    return []

In [10]:
movies_metadata['genres']= movies_metadata['genres'].apply(extract_genres)

In [11]:
movies_metadata['genres']

0         [Animation, Comedy, Family]
1        [Adventure, Fantasy, Family]
2                   [Romance, Comedy]
3            [Comedy, Drama, Romance]
4                            [Comedy]
                     ...
45461                 [Drama, Family]
45462                         [Drama]
45463       [Action, Drama, Thriller]
45464                              []
45465                              []
Name: genres, Length: 45466, dtype: object

In [12]:
movies = movies_metadata.drop(columns=['adult', 'belongs_to_collection', 'budget', 'homepage',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'video',
       'vote_average', 'vote_count'])

In [13]:
movies.head(2)

                         genres    id      title
0   [Animation, Comedy, Family]   862  Toy Story
1  [Adventure, Fantasy, Family]  8844    Jumanji

In [14]:
movies = movies.rename(columns={'id':'movieId'})

In [15]:
movies.head(3)

                         genres movieId             title
0   [Animation, Comedy, Family]     862         Toy Story
1  [Adventure, Fantasy, Family]    8844           Jumanji
2             [Romance, Comedy]   15602  Grumpier Old Men

In [16]:
movies.shape

(45466, 3)

In [17]:
ratings.head(2)

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179

In [18]:
ratings.shape

(100004, 4)

In [18]:
ratings_matrix = np.ndarray(
    shape=(np.max(ratings.movieId.values), np.max(ratings.userId.values)),
    dtype=np.uint8)
ratings_matrix[ratings.movieId.values-1, ratings.userId.values-1] = ratings.rating.values

In [19]:
ratings_matrix

array([[0, 0, 0, ..., 0, 4, 5],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=uint8)

In [20]:
ratings_matrix.shape

(163949, 671)

In [21]:
normalised_mat = ratings_matrix - np.asarray([(np.mean(ratings_matrix, 1))]).T
normalised_mat

array([[-1.38897168, -1.38897168, -1.38897168, ..., -1.38897168,
         2.61102832,  3.61102832],
       [-0.5290611 , -0.5290611 , -0.5290611 , ..., -0.5290611 ,
        -0.5290611 , -0.5290611 ],
       [-0.27123696, -0.27123696, -0.27123696, ..., -0.27123696,
        -0.27123696, -0.27123696],
       ...,
       [ 0.        ,  0.        ,  0.        , ...,  0.        ,
         0.        ,  0.        ],
       [ 0.        ,  0.        ,  0.        , ...,  0.        ,
         0.        ,  0.        ],
       [-0.00745156, -0.00745156, -0.00745156, ..., -0.00745156,
        -0.00745156, -0.00745156]])

In [22]:
normalised_mat.shape

(163949, 671)

In [23]:
A = normalised_mat.T / np.sqrt(ratings_matrix.shape[0] - 1)

In [24]:
U, S, V = linalg.svd(A, full_matrices=False)

__Now I have to calculate cosine similarity between the values and then create a function to extract the movies from the movie dataframe__

__Below I will try another approach__

In [19]:
movies.head(2)

                         genres movieId      title
0   [Animation, Comedy, Family]     862  Toy Story
1  [Adventure, Fantasy, Family]    8844    Jumanji

In [39]:
ratings.head()

   userId  movieId  rating
0       1       31     2.5
1       1     1029     3.0
2       1     1061     3.0
3       1     1129     2.0
4       1     1172     4.0

In [20]:
movies_ = movies

In [21]:
movies_ = movies[["movieId", "title", "genres"]]
movies_.head(2)

  movieId      title                        genres
0     862  Toy Story   [Animation, Comedy, Family]
1    8844    Jumanji  [Adventure, Fantasy, Family]

In [22]:
movies_['genres'] = ["".join(string) for string in movies_['genres']]
movies_.head(2)

  movieId      title                  genres
0     862  Toy Story   AnimationComedyFamily
1    8844    Jumanji  AdventureFantasyFamily

In [40]:
ratings = ratings.drop(columns=["timestamp"])
ratings.head()

   userId  movieId  rating
0       1       31     2.5
1       1     1029     3.0
2       1     1061     3.0
3       1     1129     2.0
4       1     1172     4.0

In [54]:
ratings.sort_values('movieId').head()

       userId  movieId  rating
9713       68        1     4.0
35933     261        1     1.5
52631     383        1     5.0
35983     262        1     2.5
12038      77        1     4.0

In [55]:
movies_.sort_values('movieId').head()

      movieId                                title                 genres
2429      100  Lock, Stock and Two Smoking Barrels            ComedyCrime
13609   10000            La estrategia del caracol            ComedyDrama
4435    10001                       Young Einstein  ComedyScience Fiction
17451  100010                       Flight Command               DramaWar
36946  100017                              Hounded                  Drama

In [68]:
movies_.drop(movies_.index[19730],inplace=True)
movies_.drop(movies_.index[29502],inplace=True)
movies_.drop(movies_.index[35585],inplace=True)

In [69]:
movies_.head(3)

  movieId             title                  genres
0     862         Toy Story   AnimationComedyFamily
1    8844           Jumanji  AdventureFantasyFamily
2   15602  Grumpier Old Men           RomanceComedy

In [71]:
movies_.movieId = movies_.movieId.astype(np.int64)

In [74]:
ratings_df = pd.merge(ratings,movies_, on='movieId')
ratings_df

       userId  movieId  rating              title                       genres
0           1     1371     2.5          Rocky III                        Drama
1           4     1371     4.0          Rocky III                        Drama
2           7     1371     3.0          Rocky III                        Drama
3          19     1371     4.0          Rocky III                        Drama
4          21     1371     3.0          Rocky III                        Drama
...       ...      ...     ...                ...                          ...
44989     652   129009     4.0     Love Is a Ball                ComedyRomance
44990     653     2103     3.0            Solaris  DramaScience FictionMystery
44991     659      167     4.0              K-PAX         DramaScience Fiction
44992     659      563     3.0  Starship Troopers      AdventureActionThriller
44993     665      129     3.0      Spirited Away    FantasyAdventureAnimation

[44994 rows x 5 columns]

In [94]:
ratings_df.drop_duplicates()

       userId  movieId  rating              title                       genres
0           1     1371     2.5          Rocky III                        Drama
1           4     1371     4.0          Rocky III                        Drama
2           7     1371     3.0          Rocky III                        Drama
3          19     1371     4.0          Rocky III                        Drama
4          21     1371     3.0          Rocky III                        Drama
...       ...      ...     ...                ...                          ...
44989     652   129009     4.0     Love Is a Ball                ComedyRomance
44990     653     2103     3.0            Solaris  DramaScience FictionMystery
44991     659      167     4.0              K-PAX         DramaScience Fiction
44992     659      563     3.0  Starship Troopers      AdventureActionThriller
44993     665      129     3.0      Spirited Away    FantasyAdventureAnimation

[44989 rows x 5 columns]

In [77]:
matrix= ratings_df.pivot_table(index='userId', columns='title', values='rating').fillna(0)
matrix.head()

title,!Women Art Revolution,'Gator Bait,'Twas the Night Before Christmas,...And God Created Woman,00 Schneider - Jagd auf Nihil Baxter,10 Items or Less,10 Things I Hate About You,"10,000 BC",11'09''01 - September 11,12 Angry Men,...,Zodiac,Zombie Flesh Eaters,Zombie Holocaust,Zozo,eXistenZ,xXx,¡Three Amigos!,À nos amours,Ödipussi,Şaban Oğlu Şaban
userId,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

__The code below correctly implements SVD prediction__

In [81]:
movies_

       movieId                        title                  genres
0          862                    Toy Story   AnimationComedyFamily
1         8844                      Jumanji  AdventureFantasyFamily
2        15602             Grumpier Old Men           RomanceComedy
3        31357            Waiting to Exhale      ComedyDramaRomance
4        11862  Father of the Bride Part II                  Comedy
...        ...                          ...                     ...
45461   439050                       Subdue             DramaFamily
45462   111109          Century of Birthing                   Drama
45463    67758                     Betrayal     ActionDramaThriller
45464   227506             Satan Triumphant
45465   461257                     Queerama

[45463 rows x 3 columns]

In [82]:
ratings

        userId  movieId  rating
0            1       31     2.5
1            1     1029     3.0
2            1     1061     3.0
3            1     1129     2.0
4            1     1172     4.0
...        ...      ...     ...
99999      671     6268     2.5
100000     671     6269     4.0
100001     671     6365     4.0
100002     671     6385     2.5
100003     671     6565     3.5

[100004 rows x 3 columns]

In [83]:
reader = Reader(rating_scale=(1, 5))

In [84]:
data = Dataset.load_from_df(ratings, reader)

In [85]:
trainset, testset = train_test_split(data, test_size = .25)

In [87]:
model = SVD(n_factors=100)
model.fit(trainset)

In [88]:
model.qi.shape

(8222, 100)

In [100]:
## iid = 862 "Toy Story"
model.predict(20, 862)

Prediction(uid=20, iid=862, r_ui=None, est=3.0486104428127994, details={'was_impossible': False})

In [106]:
predictions = model.test(testset)

In [103]:
def get_top_n(predictions, n=10):
    """Return the top-N recommendation for each user from a set of predictions.

    Args:
        predictions(list of Prediction objects): The list of predictions, as
            returned by the test method of an algorithm.
        n(int): The number of recommendation to output for each user. Default
            is 10.

    Returns:
    A dict where keys are user (raw) ids and values are lists of tuples:
        [(raw item id, rating estimation), ...] of size n.
    """

    # First map the predictions to each user.
    top_n = defaultdict(list)
    for uid, iid, true_r, est, _ in predictions:
        top_n[uid].append((iid, est))

    # Then sort the predictions for each user and retrieve the k highest ones.
    for uid, user_ratings in top_n.items():
        user_ratings.sort(key=lambda x: x[1], reverse=True)
        top_n[uid] = user_ratings[:n]

    return top_n

In [108]:
top_n = get_top_n(predictions)
for uid, user_ratings in top_n.items():
    print(uid, [iid for (iid, _) in user_ratings])

464 [260, 222, 610, 349, 588, 262, 163, 165, 380, 592]
509 [608, 969, 1221, 1196, 296, 6016, 1172, 3362, 923, 1036]
105 [50, 1233, 1213, 4226, 1193, 2959, 593, 2858, 2762, 1199]
41 [110, 260, 1196, 233, 356, 1965, 2529, 1374, 6863, 2746]
547 [1258, 1617, 908, 307, 2973, 926, 1964, 55820, 1233, 48780]
102 [527, 2318, 1219, 858, 899, 1267, 898, 2064, 3088, 994]
40 [1197, 48780, 260, 7361, 1136, 7153, 49272, 122886]
562 [50, 7361, 5418, 5952, 778, 2858, 2797, 7147, 356, 2599]
452 [2918, 296, 318, 4973, 923, 527, 5225, 903, 908, 235]
406 [750, 912, 1221, 1237, 1212, 908, 1258, 4993, 1077, 111]
347 [1198, 106489, 4085, 786, 1721]
669 [968, 260, 223, 2959, 2772, 1135, 2683, 2722]
468 [1196, 318, 908, 913, 1221, 1212, 1267, 1193, 2132, 3462]
636 [608, 17, 766, 25, 1073, 639, 648, 736, 724, 762]
271 [593, 4993, 7153, 1230, 3578, 3114, 1270, 5060, 5782, 110]
61 [50, 4993, 50872, 1035, 1220, 5349, 46578, 2300, 48394, 5444]
346 [2571, 2019, 260, 7361, 4896, 480, 4995, 1136, 1387, 2997]
534 [50, 2125, 1358, 69, 3147, 11, 17, 1584, 1517, 25]
514 [608, 1203, 1193, 1204, 1089, 1305, 293, 593, 47, 924]
500 [1219, 593, 60069, 7147, 30749, 5995, 4369, 4014, 5989, 1246]
652 [3252, 7380, 628, 3793, 2058, 111362, 89745, 6367, 3044, 8981]
294 [8961, 3578, 7153, 912, 913, 4993, 8874, 527, 110, 6539]
268 [4993, 7153, 905, 969, 858, 541, 3147, 1196, 953, 1208]
461 [899, 2918, 858, 296, 4973, 608, 4128, 1213, 1036, 515]
564 [1233, 1199, 2186, 3362, 905, 17, 1220, 1952, 1954, 2359]
580 [858, 1252, 50, 48780, 1617, 908, 968, 2997, 589, 1089]
212 [899, 912, 1225, 2571, 8961, 260, 2329, 3468, 595, 49530]
575 [1304, 2300, 1272, 1066, 3421, 62, 2150, 2804, 1356, 1952]
416 [593, 246, 474, 733, 1012, 450, 349, 217, 802, 380]
624 [296, 858, 1148, 33166, 541, 48516, 1230, 1250, 1089, 1035]
472 [1212, 1224, 527, 1272, 1172, 1357, 905, 3462, 1148, 1136]
73 [858, 2542, 68157, 904, 1228, 1094, 50, 47, 6711, 1617]
654 [541, 858, 1704, 2571, 1291, 1089, 17, 2804, 4128, 6539]
322 [2076, 924, 3952, 3386, 903, 1964, 931, 1589, 3950, 3925]
22 [1196, 2959, 7153, 1210, 6539, 2858, 4720, 1625, 1200, 8961]
345 [527, 2762, 1197, 111, 1228, 2692, 8981, 1219, 2396, 1259]
214 [318, 1213, 1198, 750, 2391, 541, 3471, 3071, 1200, 2076]
79 [49530, 260, 924, 7153, 1580, 6539, 2640, 587, 1517, 2013]
529 [608, 2132, 2599, 2324, 30749, 1244, 1201, 750, 3088, 916]
473 [4973, 110, 32587, 1036, 2959, 3578, 79132, 89745, 364, 8464]
664 [50, 858, 2959, 6016, 4878, 48516, 4011, 78499, 2329, 1617]
56 [6016, 4973, 3897, 1197, 3868, 2959, 1263, 2863, 457, 81591]
17 [1212, 318, 2571, 903, 1206, 1237, 4226, 2010, 4973, 7116]
508 [318, 296, 457, 47, 11, 377, 32, 480, 316, 508]
502 [541, 246, 1222, 471, 1198, 1288, 223, 1476, 235, 714]
450 [48780, 858, 5995, 2318, 1193, 4226, 1704, 1199, 111, 2076]
270 [50, 4226, 296, 2571, 2291, 1704, 56367, 8874, 102123, 44191]
243 [4993, 1136, 4128, 1210, 7147, 6539, 527, 1258, 1682, 1281]
119 [1204, 541, 1952, 1203, 903, 1411, 265, 1136, 2289, 1254]
30 [1228, 913, 2959, 858, 50, 2918, 953, 3735, 1732, 4361]
626 [2959, 2288, 593, 247, 2908, 2396, 2395, 1682, 223, 1036]
305 [318, 2917, 1252, 608, 347, 711, 1783, 164, 1125, 112]
86 [527, 541, 162, 229, 608, 28, 223, 1073, 58, 308]
236 [1136, 1212, 912, 1252, 1230, 908, 899, 1217, 926, 4406]
186 [2571, 2959, 5952, 3578, 924, 1921, 6934]
250 [1221, 2858, 106782, 58559, 4226, 2959, 4886, 1193, 88125, 5010]
599 [1196, 1136, 4878, 2291, 7153, 6539, 88672, 69844, 66934, 55451]
595 [2064, 1223, 778, 1089, 581, 900, 1537, 2692, 1617, 2303]
348 [1221, 509, 3504, 1358, 1952, 2289, 32, 2324, 4424, 2160]
383 [260, 1079, 29, 1073, 1080, 110, 805, 62, 52, 648]
182 [838, 110, 1073, 1049, 339, 224, 524, 1042, 61, 277]
527 [296, 2918, 778, 912, 1293, 47, 1208, 1291, 2571, 1080]
597 [745, 1212, 1079, 968, 293, 1196, 1178, 1197, 260, 2076]
616 [608, 36, 1357, 635, 780, 832, 1183, 802, 724, 647]
368 [1077, 1200, 2664, 3175, 3429, 3176]
149 [1230, 318, 81834, 48516, 7153, 2329, 2959, 1, 40815, 356]
585 [912, 1230, 318, 593, 1233, 541, 1225, 1276, 905, 296]
185 [778, 1225, 2324, 1196, 745, 1500, 2571, 1136, 4306, 1193]
378 [1258, 4226, 99114, 116797, 116897, 2542, 2918, 64034, 4848, 5418]
430 [2542, 5989, 1136, 1175, 2064, 745, 968, 1704, 4226, 2997]
144 [527, 47, 337, 349, 480, 316, 10, 380, 165, 434]
522 [50, 1221, 48516, 68157, 527, 1089, 1240, 1225, 2125, 1247]
62 [70286, 318, 106782, 79132, 115713, 109487, 92259, 134853, 49530, 104374]
34 [923, 527, 1254, 2064, 593, 1272, 912, 1287, 1196, 750]
615 [7153, 778, 50872, 293, 1222, 64839, 109374, 106920, 81564, 68237]
553 [7153, 1197, 1196, 7502, 76251, 1210, 1278, 6874, 1304, 2502]
15 [306, 1193, 1215, 3020, 1304, 1204, 27773, 1210, 1968, 4021]
82 [150, 47, 364, 590, 39, 595, 21, 253, 266, 454]
311 [911, 4995, 720, 1225, 898, 1219, 1704, 1393, 608, 280]
232 [1211, 1266, 2099, 1617, 1131, 1300, 2019, 1962, 2973, 50]
59 [318, 7361, 5952, 2692, 2194, 33794, 4306, 2329, 2716, 34153]
475 [46578, 7438, 4993, 1270, 70286, 49272, 1228, 68237, 69844, 79132]
265 [1299, 1252, 2076, 1233, 3468, 1212, 1096, 1224, 1247, 58]
150 [296, 50, 2571, 1673, 4226, 2918, 590, 2858, 1704, 260]
671 [2064, 2359, 2918, 1196, 5010, 4011, 1259, 3147, 2997, 1265]
145 [593, 589, 588, 480, 587, 253, 153, 208, 19]
134 [1219, 1233, 1175, 4226, 1094, 1197, 3095, 4128, 88125, 2762]
648 [1228, 296, 3462, 1222, 63082, 923, 1213, 96488, 3629, 4878]
295 [858, 50, 318, 7153, 1233, 912, 1625, 5952, 778, 1240]
148 [913, 5995, 2997, 1175, 3730, 903, 589, 1584, 1394, 5902]
481 [318, 608, 1089, 778, 1221, 1213, 5902, 3089, 1304, 923]
397 [69481, 50872, 5500, 26776, 72171, 68073, 68358, 71252, 72701, 70862]
292 [260, 1196, 608, 3949, 2501, 2804, 33166, 4963, 1035, 2144]
97 [3868, 4973, 1267, 1193, 4226, 750, 110, 923, 1219, 44555]
350 [1270, 4973, 2395, 1197, 1210, 1732, 1198, 1291, 4226, 4027]
291 [4128, 1732, 541, 589, 2918, 2194, 3671, 1291, 7757, 7386]
85 [527, 555, 230, 10, 288, 380, 368, 616, 610, 161]
609 [1361, 296, 1224, 912, 1537, 5304, 4482, 5179, 4837, 3090]
78 [58559, 778, 2329, 4995, 4896, 1356, 88129, 88125, 50, 6874]
362 [2329, 50, 1198, 58559, 293, 2194, 1258, 3481, 1193, 2571]
402 [908, 7153, 6350, 4995, 69844, 76093, 73017, 134853, 5952, 750]
598 [527, 1060, 1198, 2329, 3147, 5669, 17, 924, 5064, 1704]
275 [1252, 2858, 49530, 2571, 78499, 69481, 1270, 96079, 2502, 88125]
262 [48780, 778, 3504, 928, 3481, 2019, 1923, 858, 115569, 1380]
72 [1221, 608, 1213, 912, 2858, 4973, 593, 924, 55820, 3578]
137 [898, 2918, 1292, 296, 2858, 1287, 1244, 919, 1265, 1200]
405 [1221, 4993, 5952, 7153, 2366, 955, 3006, 1204, 4361, 2716]
57 [1270, 260, 293, 1732, 1220, 555, 497, 914, 1136, 1587]
199 [858, 2329, 48780, 2959, 3578, 4011, 68237, 1210, 7153, 3147]
195 [913, 908, 1228, 1096, 608, 924, 2064, 1217, 922, 5060]
128 [3578, 5418, 2137, 5989, 5349, 4878, 3897, 4310, 5010, 2657]
535 [47, 587, 474, 364, 300, 292, 595, 592, 253, 44]
620 [7361, 1206, 68954, 4308, 46578, 115617, 4973, 916, 92259, 902]
319 [110, 17, 480, 344, 435, 153]
379 [318, 2571, 1704, 4993, 778, 1206, 2028, 4963, 2324, 47]
117 [527, 3363, 2739, 30707, 1188, 524, 1957, 59018, 8949, 281]
302 [589, 595, 457, 509, 588, 592, 10, 236, 315, 158]
574 [858, 1221, 296, 58559, 3683, 55820, 1212, 48516, 260, 2762]
179 [1197, 4226, 1270, 8665, 46578, 49272, 91529, 34162, 46976]
32 [110, 356, 337, 261, 589, 588, 553, 364, 165, 231]
120 [50, 4226, 4963, 608, 6874, 2028, 3793, 2762, 2997, 3210]
21 [1228, 1193, 954, 1208, 1196, 593, 912, 1231, 1090, 1259]
422 [296, 745, 858, 1196, 1704, 589, 1610, 3418, 2291, 3114]
557 [3159, 1688, 1064, 59429, 47124, 6586, 4366, 7293, 7541, 39715]
420 [913, 1230, 1259, 904, 1207, 1394, 529, 1225, 1411, 1264]
518 [912, 1036, 1198, 1265, 1957, 589, 1220, 2761, 595, 1225]
471 [1219, 1233, 1262, 7153, 541, 750, 1222, 5679, 8622, 2115]
384 [1291, 4993, 2329, 49530, 6502, 5989, 7147, 296, 457, 1653]
559 [913, 1221, 1952, 904, 926, 1250, 17, 1674, 260, 1617]
122 [318, 296, 17, 28, 349, 588, 272, 342, 185, 592]
611 [4963, 5349, 2294, 53322, 1722, 588, 4369, 8985]
358 [593, 951, 953, 1259, 1244, 1247, 1387, 1198, 111, 527]
608 [1193, 111, 2917, 2318, 1258, 1200, 1682, 1089, 457, 1537]
542 [76093, 109487, 59315, 54001, 1, 4896, 5445, 99149, 27706, 1073]
523 [318, 7153, 5418, 16, 555, 3897, 4995, 733, 4085, 1120]
74 [1196, 1961, 1704, 2028, 2571, 1302, 2106, 1722, 1876, 2541]
571 [1208, 4973, 54997, 32, 27660, 2706, 8641, 1608, 4792, 3745]
132 [5971, 5902, 72226, 4973, 2357, 2997, 30810, 68954, 3083, 46578]
215 [608, 908, 858, 969, 899, 750, 1136, 903, 1084, 541]
37 [4011, 2273, 940, 3357, 1, 902, 4018]
460 [1219, 1304, 1259, 2324, 1136, 2318, 954, 778, 745, 3481]
36 [307, 475, 593, 232, 246, 260, 32, 515, 308, 36]
440 [50, 589, 32, 480, 474, 380, 165, 491, 442, 344]
587 [3462, 1228, 2064, 2019, 1136, 1172, 1219, 858, 1945, 475]
385 [318, 111, 293, 457, 261, 36, 150, 337, 480, 508]
577 [593, 4993, 1203, 7153, 260, 1197, 1213, 5952, 1265, 1079]
589 [457, 480, 150, 588, 733, 165, 485, 315, 405, 173]
628 [589, 5618, 1175, 2289, 1262, 3363, 293, 5690, 69757, 1197]
457 [1252, 2064, 111, 778, 593, 3683, 1196, 106920, 1732, 1206]
94 [858, 78499, 527, 1961, 1193, 296, 2324, 8874, 110, 8961]
665 [5952, 527, 3578, 2096, 3396, 4321, 2571, 1285, 1584, 590]
355 [4993, 260, 858, 318, 1198, 4226, 1214, 3897, 33794, 3471]
480 [858, 6016, 608, 778, 5418, 7502, 50, 4011, 5989, 2797]
431 [527, 7153, 1060, 5995, 1193, 30749, 1204, 5952, 260, 1252]
230 [318, 608, 1197, 2762, 3481, 2329, 223, 2291, 8873, 106100]
634 [3671, 2427, 3255, 180, 1129, 256, 355]
278 [1247, 260, 1225, 296, 1244, 910, 3469, 1104, 971, 80]
217 [904, 3868, 5500, 2115, 2797, 110, 1210, 1220, 2791, 1653]
649 [32, 356, 457, 471, 247, 319, 555, 150, 364, 440]
382 [1299, 5995, 1247, 1449, 2396, 3114, 76093, 46578, 1784, 2571]
152 [50, 7153, 318, 7502, 69844, 1263, 1272, 296, 3481, 8368]
203 [1252, 750, 58559, 5015, 3617, 44761, 2688]
413 [62, 1073, 832, 733, 1356, 52, 694, 95]
641 [608, 593, 32, 589, 116, 261, 480, 837, 11, 474]
75 [318, 541, 1272, 4993, 4226, 356, 3147, 1270, 5952, 4306]
360 [593, 111, 2391, 3501, 1240, 47, 3168, 2278, 1097, 3763]
240 [913, 50, 593, 5618, 2599, 898, 1, 4878, 1358, 3897]
463 [260, 608, 1213, 1233, 1221, 919, 356, 1307, 1732, 3578]
93 [904, 4993, 5989, 1225, 7147, 914, 1394, 4995, 1, 3471]
125 [296, 858, 913, 608, 1673, 2858, 2359, 1201, 2571, 55820]
39 [296, 293, 162, 353, 73, 663, 316, 380, 648, 220]
544 [1136, 2019, 4226, 1217, 260, 111, 1147, 56782, 4993, 58559]
486 [1247, 1, 260, 68237, 128360, 4973, 1968, 750, 6502, 30810]
505 [913, 928, 904, 296, 953, 899, 1230, 356, 48780, 318]
516 [232, 741, 589, 733, 1094, 480, 1090, 1088, 30, 161]
7 [1225, 1198, 541, 1136, 1148, 260, 1307, 1036, 534, 1278]
101 [2019, 58559, 1198, 68237, 457, 33794, 1200, 1610, 27611, 589]
537 [913, 1203, 898, 1304, 745, 912, 1219, 1247, 1104, 1285]
239 [1197, 1210, 1220, 2208, 3868, 497, 588, 2797, 1968, 2396]
242 [3035, 1213, 1193, 1203, 541, 1197, 2917, 1272, 2858, 1952]
175 [2571, 5989, 2291, 47, 1291, 2115, 296, 1704, 1242, 2125]
272 [88125, 1198, 4993, 2115, 89745, 3793, 4232, 110553]
91 [7153, 106782, 54286, 92259, 1240, 1270, 110102, 44191, 1682, 1214]
407 [593, 2571, 3481, 608, 1206, 4226, 7361, 3007, 1704, 32587]
48 [2318, 296, 5995, 2571, 2329, 2542, 858, 4878, 2692, 50872]
49 [2366, 969, 2202, 3959, 3417, 2968, 161, 1374, 2944, 1073]
344 [318, 1222, 778, 1198, 260, 1266, 474, 497, 1204, 508]
118 [527, 1252, 608, 954, 1219, 1270, 3196, 2692, 903, 866]
555 [527, 50, 593, 110, 1041, 497, 82, 377, 247, 272]
424 [1250, 2858, 3000, 5952, 2599, 1179, 2160, 39]
176 [79702, 1198, 80463, 2087, 31658, 86882, 5349, 44195, 90866, 56152]
77 [1148, 541, 1208, 260, 1258, 2959, 44191, 745, 1387, 1206]
133 [1172, 2959, 2918, 63876, 106782, 1265, 318, 6874, 4973, 7147]
245 [50, 1193, 296, 1704, 2908, 219, 1393, 1120, 47, 1682]
442 [1196, 1197, 4963, 50872, 296, 2194, 1265, 4886, 2918, 1957]
561 [4993, 2804, 2571, 1197, 1210, 4226, 1200, 1, 8874, 2028]
617 [1258, 1225, 1333, 562, 2541, 2302, 1347, 1188, 1407, 1883]
27 [593, 2396, 111]
113 [36, 2, 21, 494, 711, 647, 104, 20]
356 [994, 2707, 2231, 2360, 2145]
427 [6016, 3083, 1189, 2396, 3007, 4973, 37741, 2501, 3175, 4304]
363 [926, 260, 527, 2959, 541, 589, 1175, 1148, 908, 1240]
578 [17, 74458, 92259, 2028, 6870, 1259, 63876, 8533, 91500]
23 [2542, 1198, 912, 1219, 7063, 527, 1136, 1233, 4973, 1247]
391 [1207, 515, 1204, 58, 356, 475, 17, 1245, 1199, 1344]
99 [750, 1219, 1945, 1948, 356, 28, 903, 509, 969, 1393]
396 [50, 1036, 440, 353, 342, 553, 494, 329, 368, 303]
519 [1228, 1704, 1203, 1213, 593, 296, 1278, 3481, 46578, 5669]
351 [912, 908, 2291, 1968, 524, 950, 2956, 2668, 94, 277]
255 [922, 923, 8981, 1208, 59784, 44555, 64957, 33660, 6711, 30816]
525 [858, 1036, 1270, 541, 1356, 3175, 2194, 474, 1222, 493]
169 [48780, 4995, 7153, 3793, 54259, 1270, 46578, 55290, 8665, 40819]
95 [2959, 1219, 2028, 480, 1246, 261, 2762, 2336, 2580, 457]
283 [356, 33166, 4226, 2858, 7090, 778, 2324, 5446, 36, 7361]
285 [1208, 1215, 1213, 1500, 2918, 1, 2947, 1194, 1374, 1645]
380 [4993, 134130, 2959, 50, 1197, 48516, 3147, 2571, 2064, 6787]
532 [2571, 6377, 589, 457, 5952, 3578, 4963, 2529, 1097, 110]
434 [1252, 913, 778, 1288, 1256, 1203, 457, 1214, 593, 1212]
342 [318, 50, 1272, 899, 1266, 1252, 1196, 1193, 1276, 2395]
388 [58559, 1704, 534, 1197, 5902, 1287, 1208, 608, 2997, 1732]
458 [2571, 356, 296, 1961, 2028, 539, 3578, 6539, 480, 733]
372 [912, 1079, 265, 1641, 945, 1188, 242, 2390]
646 [2762, 356, 1784, 1148, 2150, 2359, 1265, 594, 2433, 1022]
353 [2918, 1196, 2959, 1197, 4993, 1270, 2028, 7153, 1036, 1073]
373 [1252, 994, 1394, 1704, 1244, 1172, 2391, 1307, 2248, 1077]
359 [4973, 2324, 1198, 89759, 26587, 6385, 3258, 2840]
605 [969, 1196, 1136, 1230, 3088, 926, 4085, 912, 1262, 608]
90 [778, 260, 1500, 1183, 1356, 661, 648, 141, 1351, 1472]
316 [68157, 541, 260, 78499, 7153, 63082, 1198, 58559, 54001, 40815]
107 [6874, 115713, 5502, 4447, 2605, 3005]
563 [1196, 541, 293, 111, 74458, 1213, 296, 51255, 89492, 115713]
2 [50, 527, 17, 223, 589, 161, 222, 110, 364, 377]
423 [3462, 750, 1201, 858, 7147, 1222, 1258, 903, 57669, 608]
184 [356, 246, 471, 280, 508, 595, 380, 334, 231]
89 [7153, 6539, 4896, 2951, 1265, 2987, 110, 1, 588, 428]
606 [2858, 593, 1219, 904, 2918, 5971, 4128, 4979, 3897, 79132]
338 [318, 527, 515, 509, 356, 62, 364, 590, 39, 357]
530 [1704, 356, 480, 260, 1, 733, 1029, 1597, 804, 1416]
159 [50, 858, 593, 1228, 47, 1217, 1197, 908, 1233, 457]
103 [778, 2858, 7090, 293, 47, 1255, 2329, 2232, 6502, 4105]
583 [1221, 1198, 1704, 49530, 2959]
18 [25, 86, 780, 141, 52, 376, 818, 76, 5, 719]
308 [47, 1259, 17, 280, 611, 261, 1339, 653, 339, 253]
389 [54, 163, 2, 10, 151, 434]
303 [1221, 1136, 527, 1259, 2542, 1196, 33166, 109374, 2959, 2997]
623 [1089, 2692, 50872, 150, 4896, 4306, 364, 1580, 780, 49957]
157 [79132, 33794, 4878, 1214, 924, 1200, 57669, 64614, 32587, 7153]
247 [1288, 2797, 1291, 1197, 1584, 1387, 1610, 3256, 3448, 2987]
193 [527, 608, 111, 1196, 1221, 1270, 2858, 858, 2690, 16]
496 [230, 6, 110, 261, 474, 368, 304, 524, 207, 450]
121 [515, 293, 497, 223, 1, 150, 125, 356, 11, 110]
222 [229, 3730, 1935, 3703, 3357, 3653, 3334, 2920, 943, 3598]
466 [923, 898, 953, 296, 899, 954, 1968, 1022, 1321, 1197]
660 [1291, 58559, 59315, 1270, 115617, 260, 1198, 6874, 8970, 8961]
607 [608, 1466, 1584, 4306, 4011, 2502, 6874, 32587, 4896, 8961]
487 [265, 110, 595, 364, 353, 440, 508, 422, 329, 147]
324 [318, 109487, 2028, 150, 32, 4896, 1225, 356, 91529, 79132]
538 [318, 111, 588, 380, 185]
254 [608, 373, 175, 534, 150, 457, 337, 685, 176, 469]
111 [4993, 608, 318, 2571, 778, 296, 3578, 4623, 260, 5418]
307 [48780, 48516, 778, 2502, 52952, 48696, 32587, 55247, 54503, 38061]
138 [1193, 1213, 5995, 527, 48516, 858, 1201, 58559, 1203, 1206]
52 [2396, 50872, 55451, 54001, 8368, 3793, 44555, 4014, 1639, 60950]
426 [3147, 293, 54259, 4306, 63082, 32587, 356, 33794, 1090, 72641]
147 [50, 608, 56367, 58559, 40819, 3396, 7323, 3034, 2116, 934]
44 [1, 32, 1047, 135]
600 [116797, 104374, 81845, 68954, 96821, 97913, 72737]
524 [48780, 58559, 1206, 57669, 58803, 40815, 4963, 5816, 33794, 4896]
449 [150, 32, 380, 317]
43 [2997, 2396, 2291, 1035, 524, 2160, 1673, 588, 2355, 2321]
257 [1230, 1252, 912, 1196, 608, 31658, 3435, 8961, 6350, 910]
462 [2324, 539, 1265, 1517, 440, 21, 2671, 141, 785, 3176]
177 [1196, 608, 541, 1136, 480, 1968, 1259, 1356, 356, 32]
655 [50, 260, 1196, 4306, 1247, 1198, 1291, 54259, 71535, 4011]
306 [1213, 1079, 534, 1096, 904, 3471, 1357, 899, 1210, 1244]
400 [318, 608, 589, 593, 349, 150, 480, 590, 21, 348]
572 [2329, 912, 44195, 38061, 5952, 40815, 47099, 2268, 55276, 49286]
656 [1200, 1203, 926, 1230, 3363, 2762, 3114, 1208, 4027, 2987]
582 [899, 2125, 1022, 4306, 6732, 3910, 2924, 595, 5349, 8366]
511 [318, 246, 235, 590, 125, 100, 237, 288, 193]
533 [1196, 923, 318, 593, 2289, 589, 1270, 1084, 1225, 3730]
550 [1196, 589, 1198, 2571, 1704, 293, 2987, 2391, 1580, 2334]
596 [1213, 318, 2329, 1136, 2542, 2918, 1233, 2959, 953, 2467]
573 [527, 1280, 1256, 260, 2997, 2797, 480, 2080, 2087, 1641]
510 [608, 296, 1193, 750, 1299, 2863, 246, 529, 1094, 2396]
570 [116797, 1036, 106489, 296, 356, 5952, 112852, 7143, 64957, 6664]
415 [296, 356, 780, 10, 590, 454, 329, 208]
659 [50, 858, 29, 306, 457, 308, 1233, 32, 150, 230]
439 [318, 1221, 2329, 608, 4963, 5816, 2366, 2997, 1196, 2648]
282 [5952, 356, 150, 1259, 1084, 1291, 4308, 1625, 1250, 4306]
619 [300, 21, 31, 165, 204, 410, 185, 329, 315, 256]
205 [1197, 2762, 78499, 720, 5971, 745, 76093, 1270, 5418, 260]
238 [99114, 74458, 47610, 74946, 84954, 95088, 4246, 97921, 55247, 92259]
398 [1136, 1967, 2000, 2916, 4002, 2140, 648, 2111, 1011, 3755]
178 [858, 1213, 1198, 2028, 293, 7022, 1265, 3578, 111, 7451]
419 [2762, 4886, 508, 1293, 8360, 34, 6331, 5992, 3408, 1784]
612 [551, 1198, 1682, 99114, 63082, 6333, 40278, 4239, 5679, 4022]
26 [44195, 59315, 58559, 4011, 48516, 296, 59784, 48780, 720, 92259]
365 [48780, 89745, 97304, 1784, 1206, 1961, 914, 2352, 3101, 3635]
8 [47, 1258, 7153, 2329, 1270, 593, 318, 4963, 1704, 33166]
213 [5418, 5952, 59315, 4361, 5618, 608, 1097, 4306, 4995, 6283]
287 [1210, 79132, 260, 2571, 1283, 110102, 5952, 80463, 54286, 4993]
200 [134130, 3462, 2959, 1291, 2571, 5679, 58295, 648, 8360, 1584]
432 [858, 7153, 4226, 5418, 1258, 1089, 356, 47, 5995, 4011]
130 [858, 246, 1196, 293, 7153, 1240, 1200, 908, 1262, 1307]
219 [1197, 318, 47, 2997, 2804, 3996, 1923, 1288, 260, 1394]
160 [527, 356, 2918, 1079, 1961, 1302, 1704, 1244, 3363, 3252]
441 [4226, 296, 1193, 2571, 6787, 5989, 858, 260, 1262, 4973]
261 [318, 1270, 593, 5445, 4306, 1220, 110, 1517, 2700, 7827]
161 [593, 296, 337, 589, 474, 300, 509, 500, 349, 165]
639 [296, 595, 170, 440, 165, 553, 31, 282, 288, 46]
658 [111, 1617, 508, 314, 497, 296, 1610, 1271, 1947, 339]
115 [1148, 1197, 1704, 1500, 1639, 45, 231, 520, 3, 19]
491 [2690, 356, 2289, 2890, 440, 1580, 125, 2331, 1171, 380]
297 [3462, 1221, 58559, 1247, 2300, 515, 3000, 1232, 25750, 8970]
328 [1196, 3363, 908, 3359, 2194, 2804, 6377, 260, 3396, 1085]
4 [541, 431, 2289, 1953, 3039, 2248, 3060, 2788, 2078, 3265]
409 [306, 348, 272, 280, 47, 308, 264, 110, 265, 477]
610 [49530, 56367, 48780, 7361, 2761, 44195, 6711, 32587, 31410, 4306]
604 [3671, 5300, 4623, 2990, 3450, 344]
666 [527, 593, 457, 588, 597, 329, 10, 587, 236, 185]
220 [2324, 923, 1265, 1230, 296, 1258, 1643, 4022, 912, 3160]
299 [2318, 3435, 1136, 6440, 5956, 1089, 2076, 5902, 1243, 55820]
38 [318, 858, 1221, 47, 593, 106782, 1704, 7089, 5952, 6539]
188 [318, 527, 475, 150, 262, 551, 1029, 34, 590, 1013]
196 [3703, 261, 2076, 1959, 2912, 2474, 2762, 3536, 3681, 2889]
31 [527, 778, 2959, 2571, 111, 3897, 44191, 54503, 64614, 33154]
494 [50, 2542, 318, 260, 1276, 2918, 5952, 50068, 2791, 2788]
263 [1267, 4963, 1584, 4406, 6539, 1222, 1961, 3098, 3873, 1408]
211 [778, 608, 969, 1527, 1270, 1584, 1073, 17, 647, 650]
627 [778, 8132, 5989, 5952, 4034, 5464, 49530, 44191, 33166, 8798]
67 [293, 265, 28, 595, 364, 457, 62, 610, 362, 95]