In [1]:
import pandas as pd
import numpy as np
from ast import literal_eval
from scipy import linalg
from scipy.sparse import csr_matrix
from surprise import SVD
from surprise import Dataset, Reader
from surprise.model_selection import cross_validate, train_test_split
from collections import defaultdict

In [2]:
ratings = pd.read_csv("../data/ratings_small.csv")

In [3]:
ratings

        userId  movieId  rating   timestamp
0            1       31     2.5  1260759144
1            1     1029     3.0  1260759179
2            1     1061     3.0  1260759182
3            1     1129     2.0  1260759185
4            1     1172     4.0  1260759205
...        ...      ...     ...         ...
99999      671     6268     2.5  1065579370
100000     671     6269     4.0  1065149201
100001     671     6365     4.0  1070940363
100002     671     6385     2.5  1070979663
100003     671     6565     3.5  1074784724

[100004 rows x 4 columns]

In [125]:
ratings.iloc[-1:]['userId']

100003    671
Name: userId, dtype: int64

In [97]:
movies_metadata = pd.read_csv("../data/movies_metadata.csv")

/home/marrechea/miniconda3/envs/movies/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3145: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [98]:
movies_metadata.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [99]:
movies_metadata.head(3)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0

In [100]:
literal_eval(movies_metadata['genres'].loc[0])

[{'id': 16, 'name': 'Animation'},
 {'id': 35, 'name': 'Comedy'},
 {'id': 10751, 'name': 'Family'}]

In [101]:
def extract_genres(x):
    x = literal_eval(x)
    if isinstance(x, list):
        genre_names = [i['name'] for i in x]
        if len(genre_names) > 3:
            genre_names= genre_names[:3]
        return genre_names
    return []

In [102]:
movies_metadata['genres']= movies_metadata['genres'].apply(extract_genres)

In [103]:
movies_metadata['genres']

0         [Animation, Comedy, Family]
1        [Adventure, Fantasy, Family]
2                   [Romance, Comedy]
3            [Comedy, Drama, Romance]
4                            [Comedy]
                     ...
45461                 [Drama, Family]
45462                         [Drama]
45463       [Action, Drama, Thriller]
45464                              []
45465                              []
Name: genres, Length: 45466, dtype: object

In [104]:
movies = movies_metadata.drop(columns=['adult', 'belongs_to_collection', 'budget', 'homepage',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'video',
       'vote_average', 'vote_count'])

In [105]:
movies.head(2)

                         genres    id      title
0   [Animation, Comedy, Family]   862  Toy Story
1  [Adventure, Fantasy, Family]  8844    Jumanji

In [106]:
movies = movies.rename(columns={'id':'movieId'})

In [107]:
movies.head(3)

                         genres movieId             title
0   [Animation, Comedy, Family]     862         Toy Story
1  [Adventure, Fantasy, Family]    8844           Jumanji
2             [Romance, Comedy]   15602  Grumpier Old Men

In [16]:
movies.shape

(45466, 3)

In [17]:
ratings.head(2)

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179

In [18]:
ratings.shape

(100004, 4)

In [18]:
ratings_matrix = np.ndarray(
    shape=(np.max(ratings.movieId.values), np.max(ratings.userId.values)),
    dtype=np.uint8)
ratings_matrix[ratings.movieId.values-1, ratings.userId.values-1] = ratings.rating.values

In [19]:
ratings_matrix

array([[0, 0, 0, ..., 0, 4, 5],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=uint8)

In [20]:
ratings_matrix.shape

(163949, 671)

In [21]:
normalised_mat = ratings_matrix - np.asarray([(np.mean(ratings_matrix, 1))]).T
normalised_mat

array([[-1.38897168, -1.38897168, -1.38897168, ..., -1.38897168,
         2.61102832,  3.61102832],
       [-0.5290611 , -0.5290611 , -0.5290611 , ..., -0.5290611 ,
        -0.5290611 , -0.5290611 ],
       [-0.27123696, -0.27123696, -0.27123696, ..., -0.27123696,
        -0.27123696, -0.27123696],
       ...,
       [ 0.        ,  0.        ,  0.        , ...,  0.        ,
         0.        ,  0.        ],
       [ 0.        ,  0.        ,  0.        , ...,  0.        ,
         0.        ,  0.        ],
       [-0.00745156, -0.00745156, -0.00745156, ..., -0.00745156,
        -0.00745156, -0.00745156]])

In [22]:
normalised_mat.shape

(163949, 671)

In [23]:
A = normalised_mat.T / np.sqrt(ratings_matrix.shape[0] - 1)

In [24]:
U, S, V = linalg.svd(A, full_matrices=False)

__Now I have to calculate cosine similarity between the values and then create a function to extract the movies from the movie dataframe__

__Below I will try another approach__

In [108]:
movies.head(2)

                         genres movieId      title
0   [Animation, Comedy, Family]     862  Toy Story
1  [Adventure, Fantasy, Family]    8844    Jumanji

In [165]:
movies.loc[movies['movieId'] == '627']

             genres movieId          title
758  [Drama, Crime]     627  Trainspotting

In [39]:
ratings.head()

   userId  movieId  rating
0       1       31     2.5
1       1     1029     3.0
2       1     1061     3.0
3       1     1129     2.0
4       1     1172     4.0

In [20]:
movies_ = movies

In [21]:
movies_ = movies[["movieId", "title", "genres"]]
movies_.head(2)

  movieId      title                        genres
0     862  Toy Story   [Animation, Comedy, Family]
1    8844    Jumanji  [Adventure, Fantasy, Family]

In [22]:
movies_['genres'] = ["".join(string) for string in movies_['genres']]
movies_.head(2)

  movieId      title                  genres
0     862  Toy Story   AnimationComedyFamily
1    8844    Jumanji  AdventureFantasyFamily

In [40]:
ratings = ratings.drop(columns=["timestamp"])
ratings.head()

   userId  movieId  rating
0       1       31     2.5
1       1     1029     3.0
2       1     1061     3.0
3       1     1129     2.0
4       1     1172     4.0

In [54]:
ratings.sort_values('movieId').head()

       userId  movieId  rating
9713       68        1     4.0
35933     261        1     1.5
52631     383        1     5.0
35983     262        1     2.5
12038      77        1     4.0

In [55]:
movies_.sort_values('movieId').head()

      movieId                                title                 genres
2429      100  Lock, Stock and Two Smoking Barrels            ComedyCrime
13609   10000            La estrategia del caracol            ComedyDrama
4435    10001                       Young Einstein  ComedyScience Fiction
17451  100010                       Flight Command               DramaWar
36946  100017                              Hounded                  Drama

In [68]:
movies_.drop(movies_.index[19730],inplace=True)
movies_.drop(movies_.index[29502],inplace=True)
movies_.drop(movies_.index[35585],inplace=True)

In [69]:
movies_.head(3)

  movieId             title                  genres
0     862         Toy Story   AnimationComedyFamily
1    8844           Jumanji  AdventureFantasyFamily
2   15602  Grumpier Old Men           RomanceComedy

In [71]:
movies_.movieId = movies_.movieId.astype(np.int64)

In [74]:
ratings_df = pd.merge(ratings,movies_, on='movieId')
ratings_df

       userId  movieId  rating              title                       genres
0           1     1371     2.5          Rocky III                        Drama
1           4     1371     4.0          Rocky III                        Drama
2           7     1371     3.0          Rocky III                        Drama
3          19     1371     4.0          Rocky III                        Drama
4          21     1371     3.0          Rocky III                        Drama
...       ...      ...     ...                ...                          ...
44989     652   129009     4.0     Love Is a Ball                ComedyRomance
44990     653     2103     3.0            Solaris  DramaScience FictionMystery
44991     659      167     4.0              K-PAX         DramaScience Fiction
44992     659      563     3.0  Starship Troopers      AdventureActionThriller
44993     665      129     3.0      Spirited Away    FantasyAdventureAnimation

[44994 rows x 5 columns]

In [94]:
ratings_df.drop_duplicates()

       userId  movieId  rating              title                       genres
0           1     1371     2.5          Rocky III                        Drama
1           4     1371     4.0          Rocky III                        Drama
2           7     1371     3.0          Rocky III                        Drama
3          19     1371     4.0          Rocky III                        Drama
4          21     1371     3.0          Rocky III                        Drama
...       ...      ...     ...                ...                          ...
44989     652   129009     4.0     Love Is a Ball                ComedyRomance
44990     653     2103     3.0            Solaris  DramaScience FictionMystery
44991     659      167     4.0              K-PAX         DramaScience Fiction
44992     659      563     3.0  Starship Troopers      AdventureActionThriller
44993     665      129     3.0      Spirited Away    FantasyAdventureAnimation

[44989 rows x 5 columns]

In [77]:
matrix= ratings_df.pivot_table(index='userId', columns='title', values='rating').fillna(0)
matrix.head()

title,!Women Art Revolution,'Gator Bait,'Twas the Night Before Christmas,...And God Created Woman,00 Schneider - Jagd auf Nihil Baxter,10 Items or Less,10 Things I Hate About You,"10,000 BC",11'09''01 - September 11,12 Angry Men,...,Zodiac,Zombie Flesh Eaters,Zombie Holocaust,Zozo,eXistenZ,xXx,Â¡Three Amigos!,Ã€ nos amours,Ã–dipussi,Åžaban OÄŸlu Åžaban
userId,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

__The code below correctly implements SVD prediction__

In [81]:
movies_

       movieId                        title                  genres
0          862                    Toy Story   AnimationComedyFamily
1         8844                      Jumanji  AdventureFantasyFamily
2        15602             Grumpier Old Men           RomanceComedy
3        31357            Waiting to Exhale      ComedyDramaRomance
4        11862  Father of the Bride Part II                  Comedy
...        ...                          ...                     ...
45461   439050                       Subdue             DramaFamily
45462   111109          Century of Birthing                   Drama
45463    67758                     Betrayal     ActionDramaThriller
45464   227506             Satan Triumphant
45465   461257                     Queerama

[45463 rows x 3 columns]

In [82]:
ratings

        userId  movieId  rating
0            1       31     2.5
1            1     1029     3.0
2            1     1061     3.0
3            1     1129     2.0
4            1     1172     4.0
...        ...      ...     ...
99999      671     6268     2.5
100000     671     6269     4.0
100001     671     6365     4.0
100002     671     6385     2.5
100003     671     6565     3.5

[100004 rows x 3 columns]

In [9]:
import requests
from pymongo import MongoClient
from dotenv import load_dotenv
import os

In [10]:
load_dotenv()
username = os.getenv("USER")
password = os.getenv("PASS")
url = f"mongodb+srv://{username}:{password}@datacluster.2umgq.mongodb.net/myFirstDatabase?retryWrites=true&w=majority"
client = MongoClient(url)
db = client["movies"]
ratings = db.ratings_small

In [114]:
ratings_new = db.ratings_new

In [148]:
list(ratings_new.find({}))

[{'_id': ObjectId('61942378c2297cfa7f238e67'),
  'userId': 930,
  'movieId': 597,
  'rating': 1.0},
 {'_id': ObjectId('61942378c2297cfa7f238e68'),
  'userId': 930,
  'movieId': 8844,
  'rating': 5.0},
 {'_id': ObjectId('61942378c2297cfa7f238e69'),
  'userId': 930,
  'movieId': 6957,
  'rating': 1.0},
 {'_id': ObjectId('61942379c2297cfa7f238e6a'),
  'userId': 930,
  'movieId': 13,
  'rating': 5.0},
 {'_id': ObjectId('61942379c2297cfa7f238e6b'),
  'userId': 930,
  'movieId': 771,
  'rating': 5.0},
 {'_id': ObjectId('6194278cc2297cfa7f238e6c'),
  'userId': 852,
  'movieId': 278,
  'rating': 5.0},
 {'_id': ObjectId('6194278cc2297cfa7f238e6d'),
  'userId': 852,
  'movieId': 862,
  'rating': 4.0},
 {'_id': ObjectId('6194278cc2297cfa7f238e6e'),
  'userId': 852,
  'movieId': 8844,
  'rating': 2.0},
 {'_id': ObjectId('6194278cc2297cfa7f238e6f'),
  'userId': 852,
  'movieId': 6957,
  'rating': 5.0},
 {'_id': ObjectId('6194278cc2297cfa7f238e70'),
  'userId': 852,
  'movieId': 597,
  'rating': 3.0},
 {'_id': ObjectId('6194278cc2297cfa7f238e71'),
  'userId': 852,
  'movieId': 807,
  'rating': 5.0},
 {'_id': ObjectId('6194278dc2297cfa7f238e72'),
  'userId': 852,
  'movieId': 13,
  'rating': 5.0},
 {'_id': ObjectId('6194278dc2297cfa7f238e73'),
  'userId': 852,
  'movieId': 9571,
  'rating': 3.0},
 {'_id': ObjectId('6194278dc2297cfa7f238e74'),
  'userId': 852,
  'movieId': 329,
  'rating': 3.0},
 {'_id': ObjectId('6194278dc2297cfa7f238e75'),
  'userId': 852,
  'movieId': 771,
  'rating': 3.0},
 {'_id': ObjectId('6194278dc2297cfa7f238e76'),
  'userId': 852,
  'movieId': 114,
  'rating': 2.0},
 {'_id': ObjectId('6194278dc2297cfa7f238e77'),
  'userId': 852,
  'movieId': 2300,
  'rating': 2.0},
 {'_id': ObjectId('6194278dc2297cfa7f238e78'),
  'userId': 852,
  'movieId': 627,
  'rating': 4.0},
 {'_id': ObjectId('6194278dc2297cfa7f238e79'),
  'userId': 852,
  'movieId': 238,
  'rating': 5.0},
 {'_id': ObjectId('6194278dc2297cfa7f238e7a'),
  'userId': 852,
  'movieId': 9820,
  'rating': 2.0},
 {'_id': ObjectId('6194278dc2297cfa7f238e7b'),
  'userId': 852,
  'movieId': 864,
  'rating': 3.0},
 {'_id': ObjectId('6194278dc2297cfa7f238e7c'),
  'userId': 852,
  'movieId': 433,
  'rating': 3.0},
 {'_id': ObjectId('6194278dc2297cfa7f238e7d'),
  'userId': 852,
  'movieId': 155,
  'rating': 5.0},
 {'_id': ObjectId('6194278dc2297cfa7f238e7e'),
  'userId': 852,
  'movieId': 10674,
  'rating': 4.0},
 {'_id': ObjectId('6194278dc2297cfa7f238e7f'),
  'userId': 852,
  'movieId': 489,
  'rating': 4.0}]

In [13]:
list(ratings.find({}))

[{'_id': ObjectId('618be4749a7acca5a0165b3d'),
  'userId': 1,
  'movieId': 31,
  'rating': 2.5,
  'timestamp': 1260759144},
 {'_id': ObjectId('618be4749a7acca5a0165b3e'),
  'userId': 1,
  'movieId': 1029,
  'rating': 3.0,
  'timestamp': 1260759179},
 {'_id': ObjectId('618be4749a7acca5a0165b3f'),
  'userId': 1,
  'movieId': 1061,
  'rating': 3.0,
  'timestamp': 1260759182},
 {'_id': ObjectId('618be4749a7acca5a0165b40'),
  'userId': 1,
  'movieId': 1129,
  'rating': 2.0,
  'timestamp': 1260759185},
 {'_id': ObjectId('618be4749a7acca5a0165b41'),
  'userId': 1,
  'movieId': 1172,
  'rating': 4.0,
  'timestamp': 1260759205},
 {'_id': ObjectId('618be4749a7acca5a0165b42'),
  'userId': 1,
  'movieId': 1263,
  'rating': 2.0,
  'timestamp': 1260759151},
 {'_id': ObjectId('618be4749a7acca5a0165b43'),
  'userId': 1,
  'movieId': 1287,
  'rating': 2.0,
  'timestamp': 1260759187},
 {'_id': ObjectId('618be4749a7acca5a0165b44'),
  'userId': 1,
  'movieId': 1293,
  'rating': 2.0,
  'timestamp': 1260759148},
 {'_id': ObjectId('618be4749a7acca5a0165b45'),
  'userId': 1,
  'movieId': 1339,
  'rating': 3.5,
  'timestamp': 1260759125},
 {'_id': ObjectId('618be4749a7acca5a0165b46'),
  'userId': 1,
  'movieId': 1343,
  'rating': 2.0,
  'timestamp': 1260759131},
 {'_id': ObjectId('618be4749a7acca5a0165b47'),
  'userId': 1,
  'movieId': 1371,
  'rating': 2.5,
  'timestamp': 1260759135},
 {'_id': ObjectId('618be4749a7acca5a0165b48'),
  'userId': 1,
  'movieId': 1405,
  'rating': 1.0,
  'timestamp': 1260759203},
 {'_id': ObjectId('618be4749a7acca5a0165b49'),
  'userId': 1,
  'movieId': 1953,
  'rating': 4.0,
  'timestamp': 1260759191},
 {'_id': ObjectId('618be4749a7acca5a0165b4a'),
  'userId': 1,
  'movieId': 2105,
  'rating': 4.0,
  'timestamp': 1260759139},
 {'_id': ObjectId('618be4749a7acca5a0165b4b'),
  'userId': 1,
  'movieId': 2150,
  'rating': 3.0,
  'timestamp': 1260759194},
 {'_id': ObjectId('618be4749a7acca5a0165b4c'),
  'userId': 1,
  'movieId': 2193,
  'rating': 2.0,
  'timestamp': 1260759198},
 {'_id': ObjectId('618be4749a7acca5a0165b4d'),
  'userId': 1,
  'movieId': 2294,
  'rating': 2.0,
  'timestamp': 1260759108},
 {'_id': ObjectId('618be4749a7acca5a0165b4e'),
  'userId': 1,
  'movieId': 2455,
  'rating': 2.5,
  'timestamp': 1260759113},
 {'_id': ObjectId('618be4749a7acca5a0165b4f'),
  'userId': 1,
  'movieId': 2968,
  'rating': 1.0,
  'timestamp': 1260759200},
 {'_id': ObjectId('618be4749a7acca5a0165b50'),
  'userId': 1,
  'movieId': 3671,
  'rating': 3.0,
  'timestamp': 1260759117},
 {'_id': ObjectId('618be4749a7acca5a0165b51'),
  'userId': 2,
  'movieId': 10,
  'rating': 4.0,
  'timestamp': 835355493},
 {'_id': ObjectId('618be4749a7acca5a0165b52'),
  'userId': 2,
  'movieId': 17,
  'rating': 5.0,
  'timestamp': 835355681},
 {'_id': ObjectId('618be4749a7acca5a0165b53'),
  'userId': 2,
  'movieId': 39,
  'rating': 5.0,
  'timestamp': 835355604},
 {'_id': ObjectId('618be4749a7acca5a0165b54'),
  'userId': 2,
  'movieId': 47,
  'rating': 4.0,
  'timestamp': 835355552},
 {'_id': ObjectId('618be4749a7acca5a0165b55'),
  'userId': 2,
  'movieId': 50,
  'rating': 4.0,
  'timestamp': 835355586},
 {'_id': ObjectId('618be4749a7acca5a0165b56'),
  'userId': 2,
  'movieId': 52,
  'rating': 3.0,
  'timestamp': 835356031},
 {'_id': ObjectId('618be4749a7acca5a0165b57'),
  'userId': 2,
  'movieId': 62,
  'rating': 3.0,
  'timestamp': 835355749},
 {'_id': ObjectId('618be4749a7acca5a0165b58'),
  'userId': 2,
  'movieId': 110,
  'rating': 4.0,
  'timestamp': 835355532},
 {'_id': ObjectId('618be4749a7acca5a0165b59'),
  'userId': 2,
  'movieId': 144,
  'rating': 3.0,
  'timestamp': 835356016},
 {'_id': ObjectId('618be4749a7acca5a0165b5a'),
  'userId': 2,
  'movieId': 150,
  'rating': 5.0,
  'timestamp': 835355395},
 {'_id': ObjectId('618be4749a7acca5a0165b5b'),
  'userId': 2,
  'movieId': 153,
  'rating': 4.0,
  'timestamp': 835355441},
 {'_id': ObjectId('618be4749a7acca5a0165b5c'),
  'userId': 2,
  'movieId': 161,
  'rating': 3.0,
  'timestamp': 835355493},
 {'_id': ObjectId('618be4749a7acca5a0165b5d'),
  'userId': 2,
  'movieId': 165,
  'rating': 3.0,
  'timestamp': 835355441},
 {'_id': ObjectId('618be4749a7acca5a0165b5e'),
  'userId': 2,
  'movieId': 168,
  'rating': 3.0,
  'timestamp': 835355710},
 {'_id': ObjectId('618be4749a7acca5a0165b5f'),
  'userId': 2,
  'movieId': 185,
  'rating': 3.0,
  'timestamp': 835355511},
 {'_id': ObjectId('618be4749a7acca5a0165b60'),
  'userId': 2,
  'movieId': 186,
  'rating': 3.0,
  'timestamp': 835355664},
 {'_id': ObjectId('618be4749a7acca5a0165b61'),
  'userId': 2,
  'movieId': 208,
  'rating': 3.0,
  'timestamp': 835355511},
 {'_id': ObjectId('618be4749a7acca5a0165b62'),
  'userId': 2,
  'movieId': 222,
  'rating': 5.0,
  'timestamp': 835355840},
 {'_id': ObjectId('618be4749a7acca5a0165b63'),
  'userId': 2,
  'movieId': 223,
  'rating': 1.0,
  'timestamp': 835355749},
 {'_id': ObjectId('618be4749a7acca5a0165b64'),
  'userId': 2,
  'movieId': 225,
  'rating': 3.0,
  'timestamp': 835355552},
 {'_id': ObjectId('618be4749a7acca5a0165b65'),
  'userId': 2,
  'movieId': 235,
  'rating': 3.0,
  'timestamp': 835355664},
 {'_id': ObjectId('618be4749a7acca5a0165b66'),
  'userId': 2,
  'movieId': 248,
  'rating': 3.0,
  'timestamp': 835355896},
 {'_id': ObjectId('618be4749a7acca5a0165b67'),
  'userId': 2,
  'movieId': 253,
  'rating': 4.0,
  'timestamp': 835355511},
 {'_id': ObjectId('618be4749a7acca5a0165b68'),
  'userId': 2,
  'movieId': 261,
  'rating': 4.0,
  'timestamp': 835355681},
 {'_id': ObjectId('618be4749a7acca5a0165b69'),
  'userId': 2,
  'movieId': 265,
  'rating': 5.0,
  'timestamp': 835355697},
 {'_id': ObjectId('618be4749a7acca5a0165b6a'),
  'userId': 2,
  'movieId': 266,
  'rating': 5.0,
  'timestamp': 835355586},
 {'_id': ObjectId('618be4749a7acca5a0165b6b'),
  'userId': 2,
  'movieId': 272,
  'rating': 3.0,
  'timestamp': 835355767},
 {'_id': ObjectId('618be4749a7acca5a0165b6c'),
  'userId': 2,
  'movieId': 273,
  'rating': 4.0,
  'timestamp': 835355779},
 {'_id': ObjectId('618be4749a7acca5a0165b6d'),
  'userId': 2,
  'movieId': 292,
  'rating': 3.0,
  'timestamp': 835355492},
 {'_id': ObjectId('618be4749a7acca5a0165b6e'),
  'userId': 2,
  'movieId': 296,
  'rating': 4.0,
  'timestamp': 835355395},
 {'_id': ObjectId('618be4749a7acca5a0165b6f'),
  'userId': 2,
  'movieId': 300,
  'rating': 3.0,
  'timestamp': 835355532},
 {'_id': ObjectId('618be4749a7acca5a0165b70'),
  'userId': 2,
  'movieId': 314,
  'rating': 4.0,
  'timestamp': 835356044},
 {'_id': ObjectId('618be4749a7acca5a0165b71'),
  'userId': 2,
  'movieId': 317,
  'rating': 2.0,
  'timestamp': 835355551},
 {'_id': ObjectId('618be4749a7acca5a0165b72'),
  'userId': 2,
  'movieId': 319,
  'rating': 1.0,
  'timestamp': 835355918},
 {'_id': ObjectId('618be4749a7acca5a0165b73'),
  'userId': 2,
  'movieId': 339,
  'rating': 3.0,
  'timestamp': 835355492},
 {'_id': ObjectId('618be4749a7acca5a0165b74'),
  'userId': 2,
  'movieId': 349,
  'rating': 4.0,
  'timestamp': 835355441},
 {'_id': ObjectId('618be4749a7acca5a0165b75'),
  'userId': 2,
  'movieId': 350,
  'rating': 4.0,
  'timestamp': 835355697},
 {'_id': ObjectId('618be4749a7acca5a0165b76'),
  'userId': 2,
  'movieId': 356,
  'rating': 3.0,
  'timestamp': 835355628},
 {'_id': ObjectId('618be4749a7acca5a0165b77'),
  'userId': 2,
  'movieId': 357,
  'rating': 3.0,
  'timestamp': 835355749},
 {'_id': ObjectId('618be4749a7acca5a0165b78'),
  'userId': 2,
  'movieId': 364,
  'rating': 3.0,
  'timestamp': 835355604},
 {'_id': ObjectId('618be4749a7acca5a0165b79'),
  'userId': 2,
  'movieId': 367,
  'rating': 3.0,
  'timestamp': 835355619},
 {'_id': ObjectId('618be4749a7acca5a0165b7a'),
  'userId': 2,
  'movieId': 370,
  'rating': 2.0,
  'timestamp': 835355932},
 {'_id': ObjectId('618be4749a7acca5a0165b7b'),
  'userId': 2,
  'movieId': 371,
  'rating': 3.0,
  'timestamp': 835355968},
 {'_id': ObjectId('618be4749a7acca5a0165b7c'),
  'userId': 2,
  'movieId': 372,
  'rating': 3.0,
  'timestamp': 835356094},
 {'_id': ObjectId('618be4749a7acca5a0165b7d'),
  'userId': 2,
  'movieId': 377,
  'rating': 3.0,
  'timestamp': 835355710},
 {'_id': ObjectId('618be4749a7acca5a0165b7e'),
  'userId': 2,
  'movieId': 382,
  'rating': 3.0,
  'timestamp': 835356165},
 {'_id': ObjectId('618be4749a7acca5a0165b7f'),
  'userId': 2,
  'movieId': 405,
  'rating': 2.0,
  'timestamp': 835356246},
 {'_id': ObjectId('618be4749a7acca5a0165b80'),
  'userId': 2,
  'movieId': 410,
  'rating': 3.0,
  'timestamp': 835355532},
 {'_id': ObjectId('618be4749a7acca5a0165b81'),
  'userId': 2,
  'movieId': 454,
  'rating': 4.0,
  'timestamp': 835355604},
 {'_id': ObjectId('618be4749a7acca5a0165b82'),
  'userId': 2,
  'movieId': 457,
  'rating': 3.0,
  'timestamp': 835355511},
 {'_id': ObjectId('618be4749a7acca5a0165b83'),
  'userId': 2,
  'movieId': 468,
  'rating': 4.0,
  'timestamp': 835355790},
 {'_id': ObjectId('618be4749a7acca5a0165b84'),
  'userId': 2,
  'movieId': 474,
  'rating': 2.0,
  'timestamp': 835355828},
 {'_id': ObjectId('618be4749a7acca5a0165b85'),
  'userId': 2,
  'movieId': 480,
  'rating': 4.0,
  'timestamp': 835355643},
 {'_id': ObjectId('618be4749a7acca5a0165b86'),
  'userId': 2,
  'movieId': 485,
  'rating': 3.0,
  'timestamp': 835355918},
 {'_id': ObjectId('618be4749a7acca5a0165b87'),
  'userId': 2,
  'movieId': 497,
  'rating': 3.0,
  'timestamp': 835355880},
 {'_id': ObjectId('618be4749a7acca5a0165b88'),
  'userId': 2,
  'movieId': 500,
  'rating': 4.0,
  'timestamp': 835355731},
 {'_id': ObjectId('618be4749a7acca5a0165b89'),
  'userId': 2,
  'movieId': 508,
  'rating': 4.0,
  'timestamp': 835355860},
 {'_id': ObjectId('618be4749a7acca5a0165b8a'),
  'userId': 2,
  'movieId': 509,
  'rating': 4.0,
  'timestamp': 835355719},
 {'_id': ObjectId('618be4749a7acca5a0165b8b'),
  'userId': 2,
  'movieId': 515,
  'rating': 4.0,
  'timestamp': 835355817},
 {'_id': ObjectId('618be4749a7acca5a0165b8c'),
  'userId': 2,
  'movieId': 527,
  'rating': 4.0,
  'timestamp': 835355731},
 {'_id': ObjectId('618be4749a7acca5a0165b8d'),
  'userId': 2,
  'movieId': 537,
  'rating': 4.0,
  'timestamp': 835356199},
 {'_id': ObjectId('618be4749a7acca5a0165b8e'),
  'userId': 2,
  'movieId': 539,
  'rating': 3.0,
  'timestamp': 835355767},
 {'_id': ObjectId('618be4749a7acca5a0165b8f'),
  'userId': 2,
  'movieId': 550,
  'rating': 3.0,
  'timestamp': 835356109},
 {'_id': ObjectId('618be4749a7acca5a0165b90'),
  'userId': 2,
  'movieId': 551,
  'rating': 5.0,
  'timestamp': 835355767},
 {'_id': ObjectId('618be4749a7acca5a0165b91'),
  'userId': 2,
  'movieId': 552,
  'rating': 3.0,
  'timestamp': 835355860},
 {'_id': ObjectId('618be4749a7acca5a0165b92'),
  'userId': 2,
  'movieId': 585,
  'rating': 5.0,
  'timestamp': 835355817},
 {'_id': ObjectId('618be4749a7acca5a0165b93'),
  'userId': 2,
  'movieId': 586,
  'rating': 3.0,
  'timestamp': 835355790},
 {'_id': ObjectId('618be4749a7acca5a0165b94'),
  'userId': 2,
  'movieId': 587,
  'rating': 3.0,
  'timestamp': 835355779},
 {'_id': ObjectId('618be4749a7acca5a0165b95'),
  'userId': 2,
  'movieId': 588,
  'rating': 3.0,
  'timestamp': 835355441},
 {'_id': ObjectId('618be4749a7acca5a0165b96'),
  'userId': 2,
  'movieId': 589,
  'rating': 5.0,
  'timestamp': 835355697},
 {'_id': ObjectId('618be4749a7acca5a0165b97'),
  'userId': 2,
  'movieId': 590,
  'rating': 5.0,
  'timestamp': 835355395},
 {'_id': ObjectId('618be4749a7acca5a0165b98'),
  'userId': 2,
  'movieId': 592,
  'rating': 5.0,
  'timestamp': 835355395},
 {'_id': ObjectId('618be4749a7acca5a0165b99'),
  'userId': 2,
  'movieId': 593,
  'rating': 3.0,
  'timestamp': 835355511},
 {'_id': ObjectId('618be4749a7acca5a0165b9a'),
  'userId': 2,
  'movieId': 616,
  'rating': 3.0,
  'timestamp': 835355932},
 {'_id': ObjectId('618be4749a7acca5a0165b9b'),
  'userId': 2,
  'movieId': 661,
  'rating': 4.0,
  'timestamp': 835356141},
 {'_id': ObjectId('618be4749a7acca5a0165b9c'),
  'userId': 2,
  'movieId': 720,
  'rating': 4.0,
  'timestamp': 835355978},
 {'_id': ObjectId('618be4749a7acca5a0165b9d'),
  'userId': 3,
  'movieId': 60,
  'rating': 3.0,
  'timestamp': 1298861675},
 {'_id': ObjectId('618be4749a7acca5a0165b9e'),
  'userId': 3,
  'movieId': 110,
  'rating': 4.0,
  'timestamp': 1298922049},
 {'_id': ObjectId('618be4749a7acca5a0165b9f'),
  'userId': 3,
  'movieId': 247,
  'rating': 3.5,
  'timestamp': 1298861637},
 {'_id': ObjectId('618be4749a7acca5a0165ba0'),
  'userId': 3,
  'movieId': 267,
  'rating': 3.0,
  'timestamp': 1298861761},
 {'_id': ObjectId('618be4749a7acca5a0165ba1'),
  'userId': 3,
  'movieId': 296,
  'rating': 4.5,
  'timestamp': 1298862418},
 {'_id': ObjectId('618be4749a7acca5a0165ba2'),
  'userId': 3,
  'movieId': 318,
  'rating': 5.0,
  'timestamp': 1298862121},
 {'_id': ObjectId('618be4749a7acca5a0165ba3'),
  'userId': 3,
  'movieId': 355,
  'rating': 2.5,
  'timestamp': 1298861589},
 {'_id': ObjectId('618be4749a7acca5a0165ba4'),
  'userId': 3,
  'movieId': 356,
  'rating': 5.0,
  'timestamp': 1298862167},
 {'_id': ObjectId('618be4749a7acca5a0165ba5'),
  'userId': 3,
  'movieId': 377,
  'rating': 2.5,
  'timestamp': 1298923242},
 {'_id': ObjectId('618be4749a7acca5a0165ba6'),
  'userId': 3,
  'movieId': 527,
  'rating': 3.0,
  'timestamp': 1298862528},
 {'_id': ObjectId('618be4749a7acca5a0165ba7'),
  'userId': 3,
  'movieId': 588,
  'rating': 3.0,
  'timestamp': 1298922100},
 {'_id': ObjectId('618be4749a7acca5a0165ba8'),
  'userId': 3,
  'movieId': 592,
  'rating': 3.0,
  'timestamp': 1298923247},
 {'_id': ObjectId('618be4749a7acca5a0165ba9'),
  'userId': 3,
  'movieId': 593,
  'rating': 3.0,
  'timestamp': 1298921840},
 {'_id': ObjectId('618be4749a7acca5a0165baa'),
  'userId': 3,
  'movieId': 595,
  'rating': 2.0,
  'timestamp': 1298923260},
 {'_id': ObjectId('618be4749a7acca5a0165bab'),
  'userId': 3,
  'movieId': 736,
  'rating': 3.5,
  'timestamp': 1298932787},
 {'_id': ObjectId('618be4749a7acca5a0165bac'),
  'userId': 3,
  'movieId': 778,
  'rating': 4.0,
  'timestamp': 1298863157},
 {'_id': ObjectId('618be4749a7acca5a0165bad'),
  'userId': 3,
  'movieId': 866,
  'rating': 3.0,
  'timestamp': 1298861687},
 {'_id': ObjectId('618be4749a7acca5a0165bae'),
  'userId': 3,
  'movieId': 1197,
  'rating': 5.0,
  'timestamp': 1298932770},
 {'_id': ObjectId('618be4749a7acca5a0165baf'),
  'userId': 3,
  'movieId': 1210,
  'rating': 3.0,
  'timestamp': 1298921795},
 {'_id': ObjectId('618be4749a7acca5a0165bb0'),
  'userId': 3,
  'movieId': 1235,
  'rating': 4.0,
  'timestamp': 1298861628},
 {'_id': ObjectId('618be4749a7acca5a0165bb1'),
  'userId': 3,
  'movieId': 1271,
  'rating': 3.0,
  'timestamp': 1298861605},
 {'_id': ObjectId('618be4749a7acca5a0165bb2'),
  'userId': 3,
  'movieId': 1378,
  'rating': 4.0,
  'timestamp': 1298861658},
 {'_id': ObjectId('618be4749a7acca5a0165bb3'),
  'userId': 3,
  'movieId': 1580,
  'rating': 3.5,
  'timestamp': 1298922089},
 {'_id': ObjectId('618be4749a7acca5a0165bb4'),
  'userId': 3,
  'movieId': 1721,
  'rating': 4.5,
  'timestamp': 1298923236},
 {'_id': ObjectId('618be4749a7acca5a0165bb5'),
  'userId': 3,
  'movieId': 1884,
  'rating': 4.0,
  'timestamp': 1298863143},
 {'_id': ObjectId('618be4749a7acca5a0165bb6'),
  'userId': 3,
  'movieId': 2028,
  'rating': 4.0,
  'timestamp': 1298921862},
 {'_id': ObjectId('618be4749a7acca5a0165bb7'),
  'userId': 3,
  'movieId': 2318,
  'rating': 4.0,
  'timestamp': 1298861753},
 {'_id': ObjectId('618be4749a7acca5a0165bb8'),
  'userId': 3,
  'movieId': 2513,
  'rating': 3.0,
  'timestamp': 1298861789},
 {'_id': ObjectId('618be4749a7acca5a0165bb9'),
  'userId': 3,
  'movieId': 2694,
  'rating': 3.0,
  'timestamp': 1298862710},
 {'_id': ObjectId('618be4749a7acca5a0165bba'),
  'userId': 3,
  'movieId': 2702,
  'rating': 3.5,
  'timestamp': 1298861796},
 {'_id': ObjectId('618be4749a7acca5a0165bbb'),
  'userId': 3,
  'movieId': 2716,
  'rating': 3.0,
  'timestamp': 1298924017},
 {'_id': ObjectId('618be4749a7acca5a0165bbc'),
  'userId': 3,
  'movieId': 2762,
  'rating': 3.5,
  'timestamp': 1298922057},
 {'_id': ObjectId('618be4749a7acca5a0165bbd'),
  'userId': 3,
  'movieId': 2841,
  'rating': 4.0,
  'timestamp': 1298861733},
 {'_id': ObjectId('618be4749a7acca5a0165bbe'),
  'userId': 3,
  'movieId': 2858,
  'rating': 4.0,
  'timestamp': 1298921825},
 {'_id': ObjectId('618be4749a7acca5a0165bbf'),
  'userId': 3,
  'movieId': 2959,
  'rating': 5.0,
  'timestamp': 1298862874},
 {'_id': ObjectId('618be4749a7acca5a0165bc0'),
  'userId': 3,
  'movieId': 3243,
  'rating': 3.0,
  'timestamp': 1298861968},
 {'_id': ObjectId('618be4749a7acca5a0165bc1'),
  'userId': 3,
  'movieId': 3510,
  'rating': 4.0,
  'timestamp': 1298861633},
 {'_id': ObjectId('618be4749a7acca5a0165bc2'),
  'userId': 3,
  'movieId': 3949,
  'rating': 5.0,
  'timestamp': 1298863174},
 {'_id': ObjectId('618be4749a7acca5a0165bc3'),
  'userId': 3,
  'movieId': 5349,
  'rating': 3.0,
  'timestamp': 1298923266},
 {'_id': ObjectId('618be4749a7acca5a0165bc4'),
  'userId': 3,
  'movieId': 5669,
  'rating': 3.5,
  'timestamp': 1298862672},
 {'_id': ObjectId('618be4749a7acca5a0165bc5'),
  'userId': 3,
  'movieId': 6377,
  'rating': 3.0,
  'timestamp': 1298922080},
 {'_id': ObjectId('618be4749a7acca5a0165bc6'),
  'userId': 3,
  'movieId': 7153,
  'rating': 2.5,
  'timestamp': 1298921787},
 {'_id': ObjectId('618be4749a7acca5a0165bc7'),
  'userId': 3,
  'movieId': 7361,
  'rating': 3.0,
  'timestamp': 1298922065},
 {'_id': ObjectId('618be4749a7acca5a0165bc8'),
  'userId': 3,
  'movieId': 8622,
  'rating': 3.5,
  'timestamp': 1298861650},
 {'_id': ObjectId('618be4749a7acca5a0165bc9'),
  'userId': 3,
  'movieId': 8636,
  'rating': 3.0,
  'timestamp': 1298932766},
 {'_id': ObjectId('618be4749a7acca5a0165bca'),
  'userId': 3,
  'movieId': 27369,
  'rating': 3.5,
  'timestamp': 1298862555},
 {'_id': ObjectId('618be4749a7acca5a0165bcb'),
  'userId': 3,
  'movieId': 44191,
  'rating': 3.5,
  'timestamp': 1298932740},
 {'_id': ObjectId('618be4749a7acca5a0165bcc'),
  'userId': 3,
  'movieId': 48783,
  'rating': 4.5,
  'timestamp': 1298862361},
 {'_id': ObjectId('618be4749a7acca5a0165bcd'),
  'userId': 3,
  'movieId': 50068,
  'rating': 4.5,
  'timestamp': 1298862467},
 {'_id': ObjectId('618be4749a7acca5a0165bce'),
  'userId': 3,
  'movieId': 58559,
  'rating': 3.0,
  'timestamp': 1298922071},
 {'_id': ObjectId('618be4749a7acca5a0165bcf'),
  'userId': 3,
  'movieId': 84236,
  'rating': 4.0,
  'timestamp': 1298922130},
 {'_id': ObjectId('618be4749a7acca5a0165bd0'),
  'userId': 4,
  'movieId': 10,
  'rating': 4.0,
  'timestamp': 949810645},
 {'_id': ObjectId('618be4749a7acca5a0165bd1'),
  'userId': 4,
  'movieId': 34,
  'rating': 5.0,
  'timestamp': 949919556},
 {'_id': ObjectId('618be4749a7acca5a0165bd2'),
  'userId': 4,
  'movieId': 112,
  'rating': 5.0,
  'timestamp': 949810582},
 {'_id': ObjectId('618be4749a7acca5a0165bd3'),
  'userId': 4,
  'movieId': 141,
  'rating': 5.0,
  'timestamp': 949919681},
 {'_id': ObjectId('618be4749a7acca5a0165bd4'),
  'userId': 4,
  'movieId': 153,
  'rating': 4.0,
  'timestamp': 949811346},
 {'_id': ObjectId('618be4749a7acca5a0165bd5'),
  'userId': 4,
  'movieId': 173,
  'rating': 3.0,
  'timestamp': 949811346},
 {'_id': ObjectId('618be4749a7acca5a0165bd6'),
  'userId': 4,
  'movieId': 185,
  'rating': 3.0,
  'timestamp': 949920047},
 {'_id': ObjectId('618be4749a7acca5a0165bd7'),
  'userId': 4,
  'movieId': 260,
  'rating': 5.0,
  'timestamp': 949779042},
 {'_id': ObjectId('618be4749a7acca5a0165bd8'),
  'userId': 4,
  'movieId': 289,
  'rating': 4.0,
  'timestamp': 949778802},
 {'_id': ObjectId('618be4749a7acca5a0165bd9'),
  'userId': 4,
  'movieId': 296,
  'rating': 5.0,
  'timestamp': 949895708},
 {'_id': ObjectId('618be4749a7acca5a0165bda'),
  'userId': 4,
  'movieId': 329,
  'rating': 3.0,
  'timestamp': 949810618},
 {'_id': ObjectId('618be4749a7acca5a0165bdb'),
  'userId': 4,
  'movieId': 349,
  'rating': 5.0,
  'timestamp': 949810582},
 {'_id': ObjectId('618be4749a7acca5a0165bdc'),
  'userId': 4,
  'movieId': 356,
  'rating': 5.0,
  'timestamp': 949919763},

In [18]:
df = pd.DataFrame(list(ratings.find()))
df

                             _id  userId  movieId  rating   timestamp
0       618be4749a7acca5a0165b3d       1       31     2.5  1260759144
1       618be4749a7acca5a0165b3e       1     1029     3.0  1260759179
2       618be4749a7acca5a0165b3f       1     1061     3.0  1260759182
3       618be4749a7acca5a0165b40       1     1129     2.0  1260759185
4       618be4749a7acca5a0165b41       1     1172     4.0  1260759205
...                          ...     ...      ...     ...         ...
99999   618be4749a7acca5a017e1dc     671     6268     2.5  1065579370
100000  618be4749a7acca5a017e1dd     671     6269     4.0  1065149201
100001  618be4749a7acca5a017e1de     671     6365     4.0  1070940363
100002  618be4749a7acca5a017e1df     671     6385     2.5  1070979663
100003  618be4749a7acca5a017e1e0     671     6565     3.5  1074784724

[100004 rows x 5 columns]

In [149]:
df_new = pd.DataFrame(list(ratings_new.find()))
df_new = df_new.drop(columns=['_id'])
df_new

    userId  movieId  rating
0      930      597     1.0
1      930     8844     5.0
2      930     6957     1.0
3      930       13     5.0
4      930      771     5.0
5      852      278     5.0
6      852      862     4.0
7      852     8844     2.0
8      852     6957     5.0
9      852      597     3.0
10     852      807     5.0
11     852       13     5.0
12     852     9571     3.0
13     852      329     3.0
14     852      771     3.0
15     852      114     2.0
16     852     2300     2.0
17     852      627     4.0
18     852      238     5.0
19     852     9820     2.0
20     852      864     3.0
21     852      433     3.0
22     852      155     5.0
23     852    10674     4.0
24     852      489     4.0

In [140]:
df = df.drop(columns=['_id', 'timestamp'])
df.head(5)

KeyError: "['_id' 'timestamp'] not found in axis"

In [147]:
df.loc[df['userId'] == 669]

       userId  movieId  rating
99821     669      223     4.0
99822     669      260     5.0
99823     669      381     3.0
99824     669      480     3.0
99825     669      785     4.0
99826     669      913     5.0
99827     669      968     4.0
99828     669     1135     3.0
99829     669     1210     3.0
99830     669     1304     5.0
99831     669     1513     3.0
99832     669     1953     4.0
99833     669     2174     3.0
99834     669     2395     4.0
99835     669     2396     4.0
99836     669     2599     4.0
99837     669     2683     4.0
99838     669     2688     3.0
99839     669     2702     3.0
99840     669     2706     4.0
99841     669     2713     2.0
99842     669     2719     2.0
99843     669     2722     2.0
99844     669     2772     3.0
99845     669     2840     4.0
99846     669     2881     3.0
99847     669     2959     5.0
99848     669     2976     4.0
99849     669     3016     3.0
99850     669     3174     3.0
99851     669     3219     3.0
99852     669     3326     2.0
99853     669     3453     2.0
99854     669     3752     4.0
99855     669     3826     2.0
99856     669     3863     3.0
99857     669     4015     2.0

In [150]:
df_user = df.append(df_new)
df_user.reset_index().drop(columns=['index'])

        userId  movieId  rating
0            1       31     2.5
1            1     1029     3.0
2            1     1061     3.0
3            1     1129     2.0
4            1     1172     4.0
...        ...      ...     ...
100024     852      864     3.0
100025     852      433     3.0
100026     852      155     5.0
100027     852    10674     4.0
100028     852      489     4.0

[100029 rows x 3 columns]

In [151]:
reader = Reader(rating_scale=(1, 5))

In [152]:
data = Dataset.load_from_df(df_user, reader)

In [153]:
trainset, testset = train_test_split(data, test_size = .25)

In [154]:
model = SVD(n_factors=100)
model.fit(trainset)

In [155]:
model.qi.shape

(8222, 100)

In [125]:
## iid = 862 "Toy Story"
model.predict(20, 862)

Prediction(uid=20, iid=862, r_ui=None, est=3.1007957386444747, details={'was_impossible': False})

In [156]:
predictions = model.test(testset)

In [191]:
predictions[0:5]

[Prediction(uid=230, iid=81591, r_ui=3.5, est=4.527792045455145, details={'was_impossible': False}),
 Prediction(uid=214, iid=1275, r_ui=4.0, est=3.444970808148971, details={'was_impossible': False}),
 Prediction(uid=388, iid=3046, r_ui=2.0, est=3.475750063897901, details={'was_impossible': False}),
 Prediction(uid=389, iid=236, r_ui=3.0, est=3.41911650988372, details={'was_impossible': False}),
 Prediction(uid=457, iid=2726, r_ui=3.0, est=2.9869892439998877, details={'was_impossible': False})]

In [193]:
len(predictions)

25008

In [213]:
uid_ = []
iid_ = []
est_ = []
for uid, iid, r_ui, est, details in predictions:
    uid_.append(uid)
    iid_.append(iid)
    est_.append(est)
preds_ = pd.DataFrame({
    'userId' : uid_, 
    'movieId' : iid_,
    'rating_prediction' : est_},
columns=['userId', 'movieId', 'rating_prediction'])

In [216]:
preds_.sort_values('userId')

       userId  movieId  rating_prediction
14762       1     1263           3.319078
11289       1     3671           2.999939
9956        1     2193           2.637955
2500        1     1061           2.733859
22967       2      537           3.317155
...       ...      ...                ...
12625     671     4022           3.596558
13891     852      864           3.587318
10734     852      627           3.297607
24497     852     8844           3.738908
8142      852      278           3.728703

[25008 rows x 3 columns]

In [157]:
def get_top_n(predictions, n=5):
    """Return the top-N recommendation for each user from a set of predictions.

    Args:
        predictions(list of Prediction objects): The list of predictions, as
            returned by the test method of an algorithm.
        n(int): The number of recommendation to output for each user. Default
            is 10.

    Returns:
    A dict where keys are user (raw) ids and values are lists of tuples:
        [(raw item id, rating estimation), ...] of size n.
    """

    # First map the predictions to each user.
    top_n = defaultdict(list)
    for uid, iid, true_r, est, _ in predictions:
        top_n[uid].append((iid, est))

    # Then sort the predictions for each user and retrieve the k highest ones.
    for uid, user_ratings in top_n.items():
        user_ratings.sort(key=lambda x: x[1], reverse=True)
        top_n[uid] = user_ratings[:n]

    return top_n

In [158]:
top_n = get_top_n(predictions)

In [159]:
userId = []
movieId = []
for uid, user_ratings in top_n.items():
    userId.append(uid)
    movieId.append([iid for (iid, _) in user_ratings])

In [160]:
predictions_df = pd.DataFrame({
    'userId': userId,
    'movieId': movieId
},
    columns = ['userId', 'movieId']
)
predictions_df

     userId                         movieId
0       230   [2329, 608, 44665, 593, 2502]
1       214  [1221, 1089, 2076, 1225, 1267]
2       388    [912, 1219, 593, 2959, 1210]
3       389          [161, 151, 62, 380, 2]
4       457    [858, 318, 4235, 2959, 5952]
..      ...                             ...
666      55         [260, 32, 1, 1073, 100]
667     445              [318, 5291, 80463]
668     399            [194, 300, 588, 480]
669     172            [509, 480, 539, 586]
670     565                     [480, 3100]

[671 rows x 2 columns]

In [161]:
predictions_df = predictions_df.sort_values('userId')[:1000]
predictions_df

     userId                          movieId
508       1         [1263, 3671, 1061, 2193]
510       2          [47, 50, 527, 589, 319]
486       3    [7361, 1197, 778, 1210, 5669]
210       4    [858, 1089, 1136, 2020, 1079]
373       5  [1221, 1968, 5816, 40819, 1682]
..      ...                              ...
598     668         [1221, 1233, 1213, 3000]
391     669    [1953, 2599, 785, 3174, 3863]
275     670         [318, 2571, 32, 457, 36]
160     671     [50, 2324, 1196, 1259, 4993]
640     852            [8844, 278, 864, 627]

[671 rows x 2 columns]

In [185]:
df.loc[df['userId'] == 1]

    userId  movieId  rating
0        1       31     2.5
1        1     1029     3.0
2        1     1061     3.0
3        1     1129     2.0
4        1     1172     4.0
5        1     1263     2.0
6        1     1287     2.0
7        1     1293     2.0
8        1     1339     3.5
9        1     1343     2.0
10       1     1371     2.5
11       1     1405     1.0
12       1     1953     4.0
13       1     2105     4.0
14       1     2150     3.0
15       1     2193     2.0
16       1     2294     2.0
17       1     2455     2.5
18       1     2968     1.0
19       1     3671     3.0

In [166]:
predictions_df.iloc[-1:]

     userId                movieId
640     852  [8844, 278, 864, 627]

In [167]:
model.predict(852, 8844), model.predict(852, 278), model.predict(852, 864), model.predict(852,627 )

(Prediction(uid=852, iid=8844, r_ui=None, est=3.7389083413588877, details={'was_impossible': False}),
 Prediction(uid=852, iid=278, r_ui=None, est=3.7287025940442087, details={'was_impossible': False}),
 Prediction(uid=852, iid=864, r_ui=None, est=3.587317952975382, details={'was_impossible': False}),
 Prediction(uid=852, iid=627, r_ui=None, est=3.2976065202896345, details={'was_impossible': False}))

In [184]:
model.predict(852, 380)

Prediction(uid=852, iid=380, r_ui=None, est=3.7370081853140125, details={'was_impossible': False})

In [183]:
movies.loc[movies['movieId'] == '380']

       genres movieId     title
1852  [Drama]     380  Rain Man

In [112]:
model.predict(464, 260), model.predict(464, 222), model.predict(464, 610), model.predict(464, 349),  model.predict(464, 588),  model.predict(464, 262),  model.predict(464, 163),  model.predict(464, 165),  model.predict(464, 380),  model.predict(464, 592)

(Prediction(uid=464, iid=260, r_ui=None, est=4.597617132709338, details={'was_impossible': False}),
 Prediction(uid=464, iid=222, r_ui=None, est=4.372819379091483, details={'was_impossible': False}),
 Prediction(uid=464, iid=610, r_ui=None, est=4.343814906578933, details={'was_impossible': False}),
 Prediction(uid=464, iid=349, r_ui=None, est=4.326619332052402, details={'was_impossible': False}),
 Prediction(uid=464, iid=588, r_ui=None, est=4.282097971337215, details={'was_impossible': False}),
 Prediction(uid=464, iid=262, r_ui=None, est=4.271235120745371, details={'was_impossible': False}),
 Prediction(uid=464, iid=163, r_ui=None, est=4.191532241220789, details={'was_impossible': False}),
 Prediction(uid=464, iid=165, r_ui=None, est=4.08221836698955, details={'was_impossible': False}),
 Prediction(uid=464, iid=380, r_ui=None, est=4.062065259147693, details={'was_impossible': False}),
 Prediction(uid=464, iid=592, r_ui=None, est=4.0542182594177385, details={'was_impossible': False}))