In [1]:
from scipy.sparse.linalg import svds
import pandas as pd
import numpy as np

In [2]:
ratings = pd.read_csv("/home/marrechea/deep_film/data/ratings_small.csv")
movies = pd.read_csv("/home/marrechea/deep_film/data/movies_metadata.csv")

/home/marrechea/miniconda3/envs/movies/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3145: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
movies.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [4]:
movies = movies.drop(columns=['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'video',
       'vote_average', 'vote_count'])

In [5]:
movies.head(3)

      id             title
0    862         Toy Story
1   8844           Jumanji
2  15602  Grumpier Old Men

In [6]:
movies = movies.rename(columns={"id": "movieId"})
movies.head(3)

  movieId             title
0     862         Toy Story
1    8844           Jumanji
2   15602  Grumpier Old Men

In [7]:
ratings.head(3)

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182

In [8]:
ratings.shape

(100004, 4)

In [9]:
ratings = ratings.drop(columns=["timestamp"])

In [10]:
ratings.head(10)

   userId  movieId  rating
0       1       31     2.5
1       1     1029     3.0
2       1     1061     3.0
3       1     1129     2.0
4       1     1172     4.0
5       1     1263     2.0
6       1     1287     2.0
7       1     1293     2.0
8       1     1339     3.5
9       1     1343     2.0

In [11]:
ratings.isna().sum()

userId     0
movieId    0
rating     0
dtype: int64

In [12]:
Ratings = ratings.pivot(
    index='userId',
    columns='movieId',
    values='rating'
).fillna(0)
Ratings.head()

movieId,1,2,3,4,5,6,7,8,9,10,...,161084,161155,161594,161830,161918,161944,162376,162542,162672,163949
userId,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [13]:
R = Ratings.values
R

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [4., 0., 0., ..., 0., 0., 0.],
       [5., 0., 0., ..., 0., 0., 0.]])

In [14]:
user_ratings_mean = np.mean(R, axis=1)
user_ratings_mean

array([0.00562541, 0.02923009, 0.02007501, 0.09783808, 0.04312817,
       0.01582837, 0.03364218, 0.04947055, 0.01864108, 0.01875138,
       0.01709685, 0.01853077, 0.02189499, 0.00650783, 0.49161703,
       0.01318112, 0.14990073, 0.01819987, 0.16490183, 0.03557247,
       0.06265167, 0.07947276, 0.29092213, 0.00849327, 0.00893448,
       0.06579528, 0.0097066 , 0.02360468, 0.00694904, 0.41986543,
       0.03171189, 0.01941319, 0.04985661, 0.08118244, 0.00529451,
       0.04147364, 0.01433929, 0.05255901, 0.02592102, 0.02139863,
       0.08487756, 0.03099493, 0.03639974, 0.00926539, 0.00838297,
       0.02128833, 0.01621443, 0.19887492, 0.03783366, 0.01665564,
       0.01356717, 0.02768586, 0.01411869, 0.01842047, 0.01522171,
       0.2081403 , 0.09121994, 0.02746525, 0.02652769, 0.02536951,
       0.05994926, 0.02360468, 0.04020516, 0.00926539, 0.01235385,
       0.02139863, 0.04268696, 0.04919479, 0.03695125, 0.03849548,
       0.01080962, 0.06833223, 0.59921685, 0.02217075, 0.05244871,
       0.00838297, 0.11532098, 0.12469667, 0.01527686, 0.0146702 ,
       0.06965586, 0.01544231, 0.06982131, 0.04754026, 0.03761306,
       0.07533642, 0.01125083, 0.09502537, 0.03342158, 0.02062652,
       0.06904919, 0.04279726, 0.06662255, 0.07362674, 0.1285021 ,
       0.03469005, 0.04257666, 0.03391794, 0.07114494, 0.00937569,
       0.02365983, 0.2972645 , 0.03518641, 0.03397309, 0.19473858,
       0.01908229, 0.01009265, 0.01180234, 0.01042356, 0.05504081,
       0.13208692, 0.00937569, 0.01378778, 0.01125083, 0.01858593,
       0.01075447, 0.02316347, 0.08338848, 0.2475182 , 0.05305537,
       0.03562762, 0.01257445, 0.01367748, 0.03524156, 0.09320538,
       0.02547981, 0.00937569, 0.13754688, 0.00915508, 0.13611295,
       0.01808957, 0.04439665, 0.04649239, 0.13749173, 0.00639753,
       0.02106773, 0.03298037, 0.02851313, 0.0270792 , 0.0172623 ,
       0.01103022, 0.01819987, 0.03143614, 0.01588352, 0.01886168,
       0.02862343, 0.0173726 , 0.05834988, 0.08857269, 0.14184867,
       0.02636223, 0.08234061, 0.02382528, 0.01136113, 0.02073682,
       0.02084712, 0.12227002, 0.0073351 , 0.05823958, 0.04345908,
       0.03562762, 0.01125083, 0.02851313, 0.03358703, 0.15293404,
       0.02250165, 0.01036841, 0.04169424, 0.05123538, 0.0073351 ,
       0.02161924, 0.0099272 , 0.01764836, 0.00711449, 0.05162144,
       0.08289212, 0.09805868, 0.05040812, 0.01637988, 0.00915508,
       0.01296051, 0.05515111, 0.01808957, 0.01853077, 0.08118244,
       0.01759321, 0.1314251 , 0.0394882 , 0.05206265, 0.02647253,
       0.0097066 , 0.02128833, 0.03088462, 0.01919259, 0.15773219,
       0.04003971, 0.02823737, 0.03116038, 0.16986543, 0.09061328,
       0.05559232, 0.03099493, 0.01626958, 0.01152658, 0.07748732,
       0.0146702 , 0.00915508, 0.02123318, 0.00628723, 0.01042356,
       0.02614163, 0.30040812, 0.26704169, 0.09485992, 0.02294286,
       0.03965365, 0.04831238, 0.01803441, 0.0567505 , 0.11328039,
       0.00612177, 0.04003971, 0.01511141, 0.04059122, 0.01268476,
       0.0125193 , 0.01058901, 0.02812707, 0.01483565, 0.04638209,
       0.01433929, 0.29847783, 0.01268476, 0.04820207, 0.07219281,
       0.09921685, 0.01588352, 0.03584822, 0.1190161 , 0.09976837,
       0.01952349, 0.19655857, 0.11493492, 0.0298919 , 0.0544893 ,
       0.01036841, 0.11052283, 0.04687845, 0.00794176, 0.07290977,
       0.05702625, 0.01511141, 0.08278182, 0.05415839, 0.05829473,
       0.00948599, 0.04097728, 0.0147805 , 0.01091992, 0.01704169,
       0.02001985, 0.19484889, 0.04092213, 0.01511141, 0.08007942,
       0.01599382, 0.01847562, 0.15993823, 0.00937569, 0.0940878 ,
       0.02983675, 0.01599382, 0.04373483, 0.01516656, 0.09921685,
       0.00667328, 0.02547981, 0.02128833, 0.02007501, 0.01047871,
       0.03595853, 0.05068387, 0.07721156, 0.01908229, 0.14725347,
       0.01411869, 0.12695786, 0.03154644, 0.00810721, 0.03242886,
       0.04059122, 0.12122215, 0.03022281, 0.37442091, 0.10269137,
       0.00876903, 0.05493051, 0.0397088 , 0.1684315 , 0.01968895,
       0.00865872, 0.01290536, 0.08951026, 0.04820207, 0.00871388,
       0.242334  , 0.03386278, 0.02360468, 0.06066623, 0.00590117,
       0.33791088, 0.10346349, 0.11747187, 0.01615928, 0.0148908 ,
       0.05586808, 0.00849327, 0.02106773, 0.00750055, 0.02432164,
       0.03066402, 0.01786896, 0.0097066 , 0.05829473, 0.00557026,
       0.01036841, 0.02812707, 0.06369954, 0.00937569, 0.03628943,
       0.00987205, 0.01103022, 0.03805427, 0.01494595, 0.00865872,
       0.01169204, 0.00650783, 0.02183984, 0.04423119, 0.01671079,
       0.00876903, 0.08614604, 0.01775866, 0.07092433, 0.08840724,
       0.12519303, 0.00937569, 0.02128833, 0.00893448, 0.07103463,
       0.01842047, 0.03562762, 0.14912861, 0.02239135, 0.12282153,
       0.00661813, 0.01411869, 0.21663358, 0.01864108, 0.01577322,
       0.02779616, 0.04985661, 0.08228546, 0.01224355, 0.03182219,
       0.01279506, 0.08013457, 0.00893448, 0.02062652, 0.04378998,
       0.06761527, 0.01345687, 0.08581513, 0.01235385, 0.0098169 ,
       0.02547981, 0.00926539, 0.05250386, 0.02884403, 0.39471652,
       0.03915729, 0.10704831, 0.02349437, 0.17295389, 0.03816457,
       0.03827487, 0.12960512, 0.31855283, 0.01952349, 0.05482021,
       0.04643724, 0.00838297, 0.01764836, 0.06298257, 0.00816236,
       0.05051842, 0.02283256, 0.02338407, 0.00716964, 0.02294286,
       0.03507611, 0.12905361, 0.01047871, 0.01533201, 0.16611516,
       0.03364218, 0.14808074, 0.0892345 , 0.02338407, 0.01246415,
       0.01103022, 0.07015222, 0.00937569, 0.02360468, 0.01147143,
       0.03783366, 0.05807412, 0.06640194, 0.02007501, 0.04114273,
       0.01533201, 0.03728215, 0.13892566, 0.01075447, 0.02057137,
       0.09348114, 0.12618575, 0.06844253, 0.00667328, 0.13291418,
       0.12249062, 0.03016766, 0.08371939, 0.07809398, 0.01069932,
       0.02801677, 0.00948599, 0.00965144, 0.08813148, 0.01621443,
       0.05095963, 0.10484227, 0.02139863, 0.00727995, 0.00761085,
       0.01273991, 0.02900949, 0.01047871, 0.01136113, 0.05713655,
       0.02095742, 0.47137657, 0.03386278, 0.01340172, 0.01257445,
       0.02834767, 0.19683433, 0.03066402, 0.00959629, 0.11636885,
       0.2179572 , 0.01891683, 0.17891021, 0.01400838, 0.01687624,
       0.09044783, 0.02735495, 0.42234723, 0.00821752, 0.02498345,
       0.08658725, 0.34673505, 0.03617913, 0.01819987, 0.19953673,
       0.01555261, 0.00683874, 0.03518641, 0.0443415 , 0.16672182,
       0.19898522, 0.0249283 , 0.04698875, 0.00860357, 0.007666  ,
       0.05520627, 0.06320318, 0.02448709, 0.01025811, 0.00860357,
       0.02437679, 0.02911979, 0.04268696, 0.0345246 , 0.01125083,
       0.054379  , 0.04390029, 0.00716964, 0.01555261, 0.0818994 ,
       0.08807633, 0.0493051 , 0.01847562, 0.00761085, 0.14256563,
       0.00761085, 0.01378778, 0.02051621, 0.34276417, 0.05768807,
       0.0146702 , 0.01262961, 0.00926539, 0.14648136, 0.01621443,
       0.05691595, 0.0198544 , 0.27862343, 0.07770792, 0.05730201,
       0.02272226, 0.08730421, 0.05608868, 0.02680344, 0.05570263,
       0.01224355, 0.0472645 , 0.04759541, 0.23516435, 0.03275976,
       0.04334878, 0.02068167, 0.06022502, 0.12166336, 0.02095742,
       0.04654754, 0.13534083, 0.0099272 , 0.01147143, 0.00816236,
       0.01047871, 0.02680344, 0.02206045, 0.13219722, 0.0395985 ,
       0.03165674, 0.88793294, 0.05140084, 0.00750055, 0.05338628,
       0.03187734, 0.01136113, 0.08868299, 0.02371498, 0.02625193,
       0.01213325, 0.01968895, 0.10291198, 0.06287227, 0.04312817,
       0.11747187, 0.11212221, 0.06800132, 0.73196559, 0.01103022,
       0.01069932, 0.01615928, 0.01687624, 0.03849548, 0.05167659,
       0.02377013, 0.04301787, 0.0147805 , 0.13247298, 0.20483124,
       0.01588352, 0.13374145, 0.01020296, 0.00308846, 0.33283697,
       0.00788661, 0.05498566, 0.00915508, 0.07996912, 0.14063534,
       0.02145378, 0.22496139, 0.02106773, 0.01709685, 0.03419369,
       0.01069932, 0.05691595, 0.03044341, 0.03397309, 0.07081403,
       0.19479373, 0.08945511, 0.11824399, 0.08460181, 0.01516656,
       0.01864108, 0.05173174, 0.04864328, 0.00623208, 0.14703287,
       0.02774101, 0.17207148, 0.1289433 , 0.03066402, 0.03220825,
       0.01417384, 0.02531436, 0.02217075, 0.04015001, 0.15298919,
       0.01621443, 0.02581072, 0.01411869, 0.01665564, 0.05608868,
       0.04114273, 0.01615928, 0.04621663, 0.55388264, 0.03071917,
       0.05790867, 0.06733951, 0.0297816 , 0.01290536, 0.01031326,
       0.01268476, 0.01792411, 0.01103022, 0.00700419, 0.00843812,
       0.01180234, 0.01141628, 0.00661813, 0.02051621, 0.0197441 ,
       0.06022502, 0.01555261, 0.00898963, 0.01610413, 0.0121884 ,
       0.07699096, 0.07070373, 0.10247077, 0.0348555 , 0.01058901,
       0.00860357, 0.12431061, 0.02250165, 0.28093977, 0.04731966,
       0.06386499, 0.00772116, 0.02878888, 0.05305537, 0.0423009 ,
       0.01395323, 0.02172954, 0.01069932, 0.21735054, 0.15729098,
       0.01301566, 0.02735495, 0.00827267, 0.01367748, 0.01301566,
       0.04969115])

In [15]:
R_demeaned = R - user_ratings_mean.reshape(-1,1)
R_demeaned

array([[-0.00562541, -0.00562541, -0.00562541, ..., -0.00562541,
        -0.00562541, -0.00562541],
       [-0.02923009, -0.02923009, -0.02923009, ..., -0.02923009,
        -0.02923009, -0.02923009],
       [-0.02007501, -0.02007501, -0.02007501, ..., -0.02007501,
        -0.02007501, -0.02007501],
       ...,
       [-0.01367748, -0.01367748, -0.01367748, ..., -0.01367748,
        -0.01367748, -0.01367748],
       [ 3.98698434, -0.01301566, -0.01301566, ..., -0.01301566,
        -0.01301566, -0.01301566],
       [ 4.95030885, -0.04969115, -0.04969115, ..., -0.04969115,
        -0.04969115, -0.04969115]])

In [16]:
U,sigma,Vt = svds(R_demeaned, k=50)

In [17]:
sigma = np.diag(sigma)

In [18]:
all_user_predicted_ratings = np.dot(np.dot(U,sigma), Vt) + user_ratings_mean.reshape(-1,1)

In [19]:
preds_df = pd.DataFrame(all_user_predicted_ratings, columns = Ratings.columns)
preds_df.iloc[862]

IndexError: single positional indexer is out-of-bounds

In [ ]:
preds_df

In [ ]:
preds_df.T.iloc[:,0].sort_values(ascending=False).index

In [ ]:
preds_df.T.apply(lambda x:x.sort_values(ascending=False).index).reset_index(drop=True)